<?xml version="1.0"?>
 
<config>
    <modules>
        <Fly_RestConnect>
            <version>0.1.0</version>
        </Fly_RestConnect>
    </modules>
	
	 <frontend>
        <routers>
            <restConenct>
                <use>standard</use>
                <args>
                    <module>Fly_RestConnect</module>
                    <frontName>restconnect</frontName>
                </args>
            </restConenct>
        </routers>
    </frontend>    
	
</config>