body {
	font-family: $font3;
	background: $color7;
	color: $color1;
	text-align: left;
}

a {
	text-decoration: none;
	&:not(.btn){
		color: $color8;
		&:hover {
			color: darken($color8,10%);
			text-decoration: none;
		}
	}
	&:focus,
	&:active {
		outline: none;
	}
}

.wrapper {
	background-color: $color7;
}

.collapsing {
	display: block !important;
}

.zopim {
	display: none !important;
}

.text01 {
	font-size: 18px;
	font-weight: 300;
	color: $color8;
	letter-spacing: 1px;
	line-height: normal;
	text-align: center;
	@media screen and (min-width: 768px){
		font-size: 30px;
		line-height: 44px;
	}
}
.text02 {
	font-size: 20px;
	font-weight: normal;
	color: $color8;
	line-height: normal;
	text-align: center;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 15px;
	@media screen and (min-width: 768px){
		font-size: 30px;
		font-weight: 300;
	}
}
.text03 {
	/* Title */
	font-size: 24px;
	line-height: 30px;
	color: $color5;
	font-family: $font3;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	@media screen and (min-width: 768px){
		font-size: 28px;
	}
}
.text04 {
	/* Subtitle */
	font-size: 16px;
	line-height: 24px;
	color: #444;
	font-weight: 300;
	@media screen and (min-width: 768px){
		letter-spacing: 1px;
		font-size: 24px;
		line-height: 30px;
	}
}
.text05 {
	font-size: 14px;
	line-height: normal;
	color: $color8;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 0;
	font-family: $font3;
	@media screen and (min-width: 768px){
		font-size: 18px;
		font-weight: bold;
	}
}
.text06 {
	font-size: 15px;
	line-height: normal;
	color: $color1;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	font-family: $font3;
	@media screen and (min-width: 768px){
		font-size: 16px;
	}
}
.text07 {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	color: $color8;
	@media screen and (min-width: 768px){
		font-size: 18px;
	}
}
.text08 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	color: #444;
	letter-spacing: 0.25px;
}

.page-title {
	border: none;
	h1 {
		@extend .text03;
	}
	@media screen and (min-width: 768px){
		padding: 50px 0;
		margin: 0;
	}
}

.heading {
	background-color: $color8;
	color: $color1;
	text-transform: uppercase;
	font-family: $font3;
	padding: 11px 10px;
	h2 {
		color: #color1;
		font-size: 16px;
		font-weight: bold;
		line-height: normal;
		margin: 0;
	}
	@media screen and (min-width: 768px){
		h2 {
			font-size: 18px;
		}
	}
}

.check-list {
	list-style: none;
	font-size: 14px;
	line-height: normal;
	color: #444;
	font-weight: 300;
	li {
		list-style: none;
		margin-left: 25px;
		&:before {
			content: "\e66c";
			font-family: "Pe-icon-7-stroke";
			font-variant: normal;
			font-weight: normal;
			line-height: 1;
			display: inline-block;
			vertical-align: top;
			font-size: 15px;
			color: $color2;
			margin-left: -25px;
			margin-right: 9px;
		}
		&+ li {
			margin-top: 15px;
		}
		&+ .check-list {
			margin-top: 15px;
		}
	}
	@media screen and (min-width: 768px){
		font-size: 18px;
		li {
			&:before {
				font-size: 18px;
				margin-right: 6px;
			}
		}
	}
}

.list-circle {
	list-style: none;
	padding: 0;
	margin: 0 -10px;
	font-size: 16px;
	line-height: 20px;
	color: #444;
	font-weight: 300;
	li {
		list-style: none;
		padding: 10px;
		.fa {
			display: none;
		}
		&:nth-child(odd){
			background-color: #f9f9f9;
		}
	}
	@media screen and (min-width: 768px){
		margin: 0;
		font-size: 18px;
		line-height: 26px;
		li {
			padding: 0 0 0 20px;
			&:nth-child(odd){
				background-color: transparent;
			}
			.fa {
				display: inline;
				font-size: 12px;
				color: $color2;
				margin-left: -20px;
				margin-right: 7px;
			}
			&+ li {
				margin-top: 25px;
			}
		}
	}
}

.table {
	thead {
		tr {
			th {
				color: $color1;
				font-size: 14px;
				text-transform: uppercase;
				font-family: $font3;
				font-weight: normal;
				border: none;
			}
		}
	}
	tbody {
		tr {
			td {
				vertical-align: middle;
				border: none;
				background-color: $color1;
			}
			th {
				vertical-align: middle;
				border: none;
				background-color: $color1;
				text-transform: uppercase;
				font-family: $font3;
				color: $color8;
				font-size: 12px;
			}
		}
		&+ tbody {
			border-color: #f0f0f0;
			border-width: 5px 0 0 0;
		}
	}
}

.messages {
	&> li {
		background-color: transparent !important;
		margin-bottom: 30px !important;
		/*border: none !important;*/
		color: $color5 !important;
		text-shadow: none;
		text-align: left;
		font-size: 20px !important;
		font-weight: 300 !important;
		position: relative;
		a {
			color: $color5 !important;
		}
		li {
			line-height: normal;
		}
	}
}
.messages, .message ul{
	position:relative
}

.messages{
	padding:0 15px !important;
}
.success-msg{
	background-image: none;
	background-color: transparent !important;
	color: #000 !important;
	border: 2px solid rgba(0,0,0,.2) !important;
	border-width: 2px !important;
	border-radius: 4px;
	text-align: left !important;
	padding: 15px 15px 15px 40px !important;
}

li.success-msg:before {
    content: "\f046";
    font-family: fontawesome;
    position: absolute;
    left: 2%;
	color:#7ABC31;
}
.error-msg{
	background-image: none;
	padding: 15px 15px 15px 40px !important;
	border-width: 2px !important;
	border-radius: 4px;
}
li.error-msg:before {
    content: "\f057";
    font-family: fontawesome;
    position: absolute;
    left: 2%;
	color:red;
}
.panel-group {
	&> .panel {
		box-shadow: none;
		border-color: #eee;
		&+ .panel {
			margin-top: -1px;
		}
		&> .panel-heading {
			padding: 13px 10px;
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
			background-image: none;
			background-color: transparent;
			border-color: #eee;
			.panel-title {
				text-transform: uppercase;
				font-family: $font3;
				font-size: 14px;
				a {
					color: $color1;
				}
			}
			&+ .panel-collapse {
				&> .panel-body {
					border-color: #eee;
					padding: 15px 10px;
					background-color: #f0f0f0;
				}
			}
		}
	}
	@media screen and (min-width: 768px){
		&> .panel {
			&> .panel-heading {
				background-color: #f9f9f9;
				&+ .panel-collapse {
					&> .panel-body {
						background-color: #fff;
					}
				}
			}
		}
	}
}

ul.disc {
	list-style: disc outside;
	padding-left: 15px;
	li {
		list-style: disc outside;
	}
}
.accessories{
	label[for=camera_type]{
		font-size: 20px !important;
	}
}