/* Colors 360FLy.com*/
$color1: #111111;
$color2: #78BE20; /*Green*/
$color3: #666;
$color4: #333;
$color5: #000000; /*Black*/
$color6: #1f1f1f;
$color7: #ffffff; /*White*/
$color8: #78BE20; /*Green*/

$fb-color: #53527c;
$twt-color: #819ec2;
$gp-color: #de4a3d;
$in-color: #3d6086;


/* Fonts */
$font1: 'Lato', Helvetica, Arial, Verdana, sans-serif;
$font3: 'Montserrat', Helvetica, Arial, Verdana, sans-serif;
$font3: 'FlySans-', Arial, sans-serif;