/* Colors */
$color1: #3a334d;
$color2: #f1870a;
$color3: #847d96;
$color4: #5d4895;
$color5: #1a1135;
$color6: #1f1f1f;
$color7: #ffffff;

$fb-color: #53527c;
$twt-color: #819ec2;
$gp-color: #de4a3d;
$in-color: #3d6086;


/* Fonts */
$font1: 'Lato', Helvetica, Arial, Verdana, sans-serif;
$font2: 'Montserrat', Helvetica, Arial, Verdana, sans-serif;