

@media screen and (min-width: 768px) and (max-width: 1023px){
	.home-hero {
		.hero-wrapper {
			height: 550px !important;
		}
	}
}
@media screen and (min-width: 768px){
	.home-hero {
		.hero-wrapper {
			display: table;
			width: 100%;
			.copy {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
	#logos {
		ul {
			display: table;
			width: 100%;
			li {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		}
	}
	#plans .plans, .category-plans #plans2 .plans {
		display: table;
		width: 730px;
		margin: 0 auto;
	}
	#plans .plan, .category-plans #plans2 .plan {
		display: table-cell;
		vertical-align: top;
	}
}
@media screen and (min-width: 1100px){
	#logos {
		ul {
			li {
				img {
					width: auto;
				}
			}
		}
	}
}
@media screen and (min-width: 1200px){
	#plans .plans, .category-plans #plans2 .plans {
		width: 850px;
	}
}