/****** PLACE YOUR CUSTOM STYLES HERE ******/
/* Misc Custom */
.no-gutter{padding:0;}
.no-border{border:0px;box-shadow:0px 0px 0px transparent;}
.clear{clear:both;}
.compatible-visible{display: block;}
/*.btn:hover, .btn:focus, .btn.focus{outline:none;color:#B1B1B1;}*/
button:focus{outline:none;}
/*.required{color:red;}*/
h1,h2,h3,h4,h5,h6{color: #78be20;font-family: "FlySans-", Arial, sans-serif;}
p{font-family: "FlySans-Light", Arial, sans-serif;}
.margin-center{margin: 0 auto;}
a {color: #78be20;line-height: inherit;text-decoration: none;}
a:hover, a:focus {color: #67a31c;}
/* footer-start*/
.footer-360 .inline-list li:first-child > a {border: none;padding-left: 0px;}
.footer-360 .inline-list li > a {border-left: 1px solid #999999;padding-right: 10px;padding-left: 9px;font-weight:normal;color: #999999;}
.footer-360 .hide-mobile {display:block;}
.footer-360 .copyright {line-height: 1.42857143;}
.contact .row{padding: 0 15px;}
.footer-360 .btn-footer{width:120px;background-color:transparent;margin-bottom:0;min-width: 120px;}
.copyright{font-family: "FlySans-Light", Arial, sans-serif;color: #999999;}
.footer-360 .inline-list li > a:hover{text-decoration: none;color:#fff;}
.footer-360 .social-icons li {clear: both;float: none;display: inline-block;margin:0;list-style-type:none;}
.stayuptodate{font-weight:normal;font-family:"FlySans-", Arial, sans-serif;color:#999999;font-size: 14px;}
.footer-360 .show-mobile{display:none;}
.footer-wrapper{max-width: 1170px;width:100%;padding:0 15px;}
.footer-360 .social-icon{margin-right: -8px;margin-left: -8px;margin-top: 20px;margin-bottom: 8px;}
.footer-360 .social-icon li{clear: both;float: none;display: inline-block;margin:0;}
.footer-360 .social-icon li:last-child a{border: none;}
.footer-360 .social-icon li a{border: none;font-size: 32px;color: #666666;padding: 0px 5px;}
.footer-360 .social-icon li a:focus{text-decoration:none;}
.footer-360 .social-icon li a:hover{text-decoration: none;color: #fff;}
.athlete-social .icons-wrapper .social-links:hover,.footer-360 .social-icon li a:hover{text-decoration: none;color: #fff;}
/* footer-end */

/* home page start */
.main-container{overflow-x: hidden;background:transparent;}
.custom-container{max-width:1000px;width:100%;margin:0 auto;}
.custom-container:before,.custom-container:after{content: " ";display: table;}
.cms-index-index .pov #pov-wrap{position: absolute;top: -250px;pointer-events: none;float:right;}
.cms-home .body-wrapper{overflow-x: hidden;}
.cms-home .body-wrapper .pov #pov-mobile img {margin: 0 -24px -50px 17px;max-width: 100%;}
/* home page end */

/* header-subnavbar start */
.subnav-360 {background-color: #7abc31;}
.subnav-360 .row {max-width: 980px;margin:0 auto;}
.subnav-360 .row ul {margin: 0px;}
/*.right {float: right;}*/
.subnav-360 .row ul li {float: left;list-style: none;}
.subnav-360 .row ul li a {color: #FFFFFF;padding: 0 10px;margin: 10px 0 12px;font-size: 14px;line-height: 14px;border-right: 1px solid white;display: block;font-family: inherit;font-weight:normal;}
.subnav-360 .row ul li:last-child a{border-right:none;}
/* header-subnavbar end */

/* header start */
.inner-div{padding:0;}
.header-360 a img{display: block;width: 100%;max-width: 140px;float: left;margin: 20px 0px;}
ul.submenu1 li:last-child a,ul.submenu2 li:last-child a{border-right:none;}
/* header end */

/* font-family for icon */
@font-face {
  font-family: '360fly';
  src: url("//d3a58tk6tptbgs.cloudfront.net/static/public/fonts/360fly.eot?ycz9j5");
  src: url("//d3a58tk6tptbgs.cloudfront.net/static/public/fonts/360fly.eot?ycz9j5#iefix") format("embedded-opentype"), url("//d3a58tk6tptbgs.cloudfront.net/static/public/fonts/360fly.woff2?ycz9j5") format("woff2"), url("//d3a58tk6tptbgs.cloudfront.net/static/public/fonts/360fly.ttf?ycz9j5") format("truetype"), url("//d3a58tk6tptbgs.cloudfront.net/static/public/fonts/360fly.woff?ycz9j5") format("woff"), url("//d3a58tk6tptbgs.cloudfront.net/static/public/fonts/360fly.svg?ycz9j5#360fly") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* wrapper-width - common for all start */
.wrapper-width{max-width: 1000px;width:100%;margin: 0 auto;/*padding:0;*/}
/* wrapper-width - common for all end */

/* globe section start */
/*.video_background .valign{padding: 107px 0;}*/
.video_background .valign h2{margin: 0;line-height: 41px;font-weight: 900;font-family: "FlySans-Medium", Arial, sans-serif;color: #78be20;font-size:38px;}
.video_background .valign h3{color: #666666;margin-bottom: 20px;font-family: "FlySans-", Arial, sans-serif;font-style: normal;font-weight: normal;
    margin-top: 3px;}
.video_background .valign p{line-height: 27px;font-size:20px;margin-bottom:35px;font-family: "FlySans-Light", Arial, sans-serif;}
.btn-custom{text-transform:uppercase;color:#fff;/*padding: 0 33px;*/line-height: 35px;border-radius: 40px;background: #78be20;border-color: #60981a;font-family: "FlySans-", Arial, sans-serif;
    text-align: center;font-size: 20px;transition: background-color 300ms ease-out;margin-bottom: 20px;border: 1px solid #78be20;}
.btn-custom:hover{background: #60981a;border-color: #60981a;}
.btn-primary:active{background: #60981a;border-color: #60981a;}
.btn-primary:active:hover{background: #60981a;border-color: #60981a;}
/* globe section end */

/* pov section start */

.pov{padding: 60px 0 50px;background-color:#fff;position:relative;}
.pov h2,.pre-footer h2{font-size:38px;line-height:41px;font-weight: 900;font-family: "FlySans-Medium", Arial, sans-serif;margin:0;}
.pov h3{font-size:25px;line-height:26px;margin-bottom:20px;color: #666666;margin-top:3px;}
.pov p{font-size:20px;line-height: 27px;margin-bottom: 35px;}
.abs-pov{position:absolute;width:44%;left:10%}

/* pov section end */

/* THE APPS THAT POWER IT ALL section start */

.pre-footer h3{font-size: 25px;line-height: 33px;color:#fff;margin-bottom:24px;margin-top:3px;}
.pre-footer p{color: #999999;margin-bottom: 35px;}
.pre-footer .app-img{text-align: center;line-height: 440px;}
#apps-img{display: inline-block;max-width:100%;}

/* THE APPS THAT POWER IT ALL section end */

/*----------------------------------------------------------------------------------------------------------------*/
/* Apps Page start */

/* THE apps start start */

.full-width{width: 100%;margin-left: auto;margin-right: auto;max-width: initial;}
#apps-header{background-image: url("../images/apps/apps-page-header.jpg");background-size: cover;padding-top: 120px;
    padding-bottom: 200px;border-top: #78be20 5px solid;}
#apps-header h1{text-shadow: none;font-size: 65px;text-transform: uppercase;line-height: 65px;font-family: "FlySans-Medium", Arial, sans-serif;color:#fff;margin:3px 0 8px;}
#apps-header p{font-size: 20px;line-height: 30px;color:#fff;margin-bottom: 24px;}
/* THE apps start end */

/* miss nothing share everything section start */
#miss-share{text-align: center;color: #fff;background-color: #78be20;padding-top: 60px;padding-bottom: 60px;}
#miss-share h2{color: #fff;text-shadow: none;margin-bottom:8px;margin-top:3px;font-size: 45px;font-family: "FlySans-Medium", Arial, sans-serif;font-weight:normal;line-height: .95;}
#miss-share p{font-size: 20px;line-height: 30px;margin-bottom: 20px;font-family: "FlySans-Light", Arial, sans-serif;}
/* miss nothing share everything section end */

/* 360 control comes easy start */

#easy-control {background-image: url("../images/apps/easy-control.jpg");padding-top: 60px;padding-bottom: 60px;
    background-size: cover;}
#easy-control h2 {font-size:45px;color: #fff;text-shadow: none;font-family: "FlySans-Medium", Arial, sans-serif;line-height: .85;margin:3px 0 8px;}
#easy-control p {color: #fff;font-size: 20px;line-height:30px;margin-bottom:20px;}

/* 360 control comes easy end */

/* youtbe section start */

#youtube-section {background-color: #fff;padding-top: 60px;padding-bottom: 60px;color: #000;border-bottom: 45px solid #78be20;}
#youtube-section h2 {color: #000;line-height: .85;font-size:45px;margin:3px 0 8px;}
#youtube-section p{font-family: "FlySans-Light", Arial, sans-serif;font-size: 20px;line-height: 30px;margin-bottom: 20px;}
/* youtbe section end */

/* compatible section start */

#compatible-section {background-color: #333333;padding-top: 60px;padding-bottom: 60px;color: #cccccc;}
#compatible-section h2 {color: #cccccc;font-size: 36px;line-height: .95;margin:3px 0 8px;}
#compatible-section p {font-size: 17px;line-height: 1.25;margin-bottom: 20px;}
#compatible-section ul {padding-left: 50px;line-height: 1.25;font-size: 17px;margin-left: 17px;margin-bottom: 20px;}
small {font-size: 60%;line-height: inherit;}

/* compatible section end */

/* 360 Android and iOS apps section start */
.mobile-desktop-apps{border-bottom: 50px solid #78be20;margin-bottom: -10px;}
.apps-container .left-content{left:0;}
.apps-container .right-content{right:0;}
.image-square {overflow: hidden;padding: 0;}
.left-content .background-image-holder{background-image: url('../images/apps/mobile-app-preview.jpg');background-size: cover;height: 40vw;background-position: center;background-repeat: no-repeat;}
.image-square.left-content .image {left: 0;}
.background-image{width:100%;}
.image-square.left-content > .content {right: 0;}
.image-square .overflow-content {max-height: 100%;}
.image-square .content{position: absolute;}
.app-section h2{color:#000;line-height: 0.95;font-size: 45px;margin:3px 0 8px 0;}
.app-section p{font-size: 20px;line-height: 30px;margin-bottom:20px;}
.android-ios:before,.android-ios:after{content: " ";display: table;clear:both;}
.android-ios{margin:0;padding:0;list-style-type:none;display: block;line-height: 1.6;}
.android-ios li{padding:0 10px 20px;overflow: hidden;display: table;list-style: none;width: 50%;float: left;height: auto;margin:0;}
.app-content{padding:60px 0 0;}
.right-content .background-image-holder{background-image: url('../images/apps/app-page-director.jpg');background-size: cover;height:43vw;background-position: center;background-repeat: no-repeat;}
.image-square.right-content .img-right{float:right;padding:0;}
.download-section{margin:0;padding:0;margin-left:8px;}
.download-section li{padding: 0 10px 20px;overflow: hidden;display: table;list-style: none;width: 210px;}
.download-section li .btn-custom{font-size:16px;width: 100%;font-weight: 600;padding: 16px 16px;margin: 0 0 20px;line-height:normal;}
a#macosx,a#windows{text-transform:none;font-family: "FlySans-", Arial, sans-serif;}
/* 360 Android and iOS apps section end */
/*----------------------------------------------------------------------------------------------------------------*/
/* Apps Page End */

/*----------------------------------------------------------------------------------------------------------------*/
/* Shop 360 home page Start */

.pageheader{padding-top: 50px;background-color: #fff;background-image: url('../images/facets-home-light.jpg');overflow: hidden;background-size: cover;
    background-repeat: no-repeat;}
.pageheader h1 {color: #78be20;font-size: 62px;line-height: 1;margin:3px 0 8px;font-family: FlySans-SemiBold,Helvetica,Arial,sans-serif;}
.pageheader p{font-size:20px;margin-bottom: 20px;}
.pageheader p b {font-family: FlySans-SemiBold,Helvetica,Arial,sans-serif;font-weight: 700;}
.pageheader .pr-40{padding-right:40px;font-family: FlySans-,Helvetica,Arial,sans-serif;font-size:20px;margin-bottom: 20px;}
.pageheader .btn-custom{text-transform:uppercase;}
.btn-primary:focus, .btn-primary.focus {color: #fff;background-color: #60981a;border-color: #60981a;}
.home-shop .camera-layers .camera-4k-link, .home-shop .camera-layers .camera-hd-link, .home-shop .pageheader, .home-shop .product-block {background-repeat: no-repeat;background-size: cover;}
.home-shop .camera-layers a {display: block;float: left;position: relative;}
.pageheader .camera-layers .camera-4k-link {background-image: url('../images/shop360/4K_camera_header.png');z-index: 99999;
    margin-top: 110px;width: 500px;height: 475px;margin-left: -80px;background-position: top;border-top-right-radius: 315px;}
.home-shop .camera-layers .camera-4k-link:hover {background-image: url('../images/shop360/4K_camera_header.png');background-position: 0 -498px;
}
.home-shop .camera-layers .camera-hd-link {background-image: url('../images/shop360/hd_camera_header.png');position: absolute;z-index: 1;
    width: 340px;height: 541px;margin-left: 155px;margin-top: -25px;background-position: top;}
.home-shop .camera-layers .camera-hd-link:hover {background-image: url('../images/shop360/hd_camera_header.png');background-position: 0 -547px;
}

/* video start */
#player {background-color: #000;background-size: contain;}
#one-up {max-width: 854px;margin: 0 auto;}
.videocontent {background: #000;height: 510px;}
#player {background-image: url("../images/shop360/video-player-bg.jpg");background-repeat: no-repeat;background-size: cover;padding-top: 96px;padding-bottom: 160px;
    background-position: center;}
/* video end */

/* camera and accessories start */
.product-block {margin: 0 auto;text-align: center;padding-top: 45px;background-image: url('../images/shop360/facets-home-dark.jpg');background-repeat: no-repeat;
    background-size: cover;}
.product-block h3 {font-family: FlySans-Medium,Helvetica,Arial,sans-serif;color: #78be20;font-size: 38px;text-transform: uppercase;}
/*.product-block .fly-camera {margin-left: -60px;}*/
.product-block .product-img {max-width: 400px;width: 100%;}
.product-block .mobile-products {margin-top: 10px;margin-bottom: 10px;}
.product-block p {font-size: 15px;color: #fff;font-family: FlySans-,Helvetica,Arial,sans-serif;margin-bottom: 30px;max-width: 265px;line-height: 1.2;
    width: 100%;}
.product-block .center {margin: 0 auto 55px;clear: both;float: none;display: table;}
/*.product-block .mounts-img {margin-top: 53px;margin-left: -70px;}*/
/* camera and accessories end */
/*----------------------------------------------------------------------------------------------------------------*/
/* Shop 360 home page End */

/* Shop-360 Camera Page Start */
/*----------------------------------------------------------------------------------------------------------------*/
/* compare camera start */
.wrapper-width-camera{max-width:1000px;width:100%;margin:0 auto;padding:0 15px;}
.compare-cameras, .compare-cameras-mobile {padding-top: 20px;background-image: url('../images/shop-camera/light-facets-bg.jpg');background-repeat: repeat-x;padding-bottom: 140px;background-size: 100%;}
.compare-cameras h1, .compare-cameras-mobile h1 {color: #78be20;margin-bottom: 90px;font-size: 45px;line-height: .85;margin-top:3px;}
.compare-cameras h1 span, .compare-cameras-mobile h1 span {font-size: 68px;font-family: FlySans-SemiBold,Helvetica,Arial,sans-serif;}
.btn-shop {width: 175px;line-height: normal;position: relative;text-decoration: none;text-align: center;background-color: transparent;color: #78be20;
    border: 2px solid #78be20;border-radius: 1000px;transition: all .3s ease-out;font-weight: 400;font-size: 20px;padding: 3px 20px;margin-bottom: 30px;font-family: FlySans-Medium,Helvetica,Arial,sans-serif;text-transform: uppercase;}
.cameras-contain .btn-shop:hover,.mobile-4k .btn-shop:hover, .mobile-hd .btn-shop:hover {background-color: #78be20;color: #fff;}
.cameras-contain .btn.btn-shop{width:175px;padding:3px 20px;margin-bottom: 30px;}
.compare-cameras .hidden-sm .hidden-xs button.expand.btn.center-block{width: 36px;height: 36px;position: relative;font-weight: 700;cursor: pointer;color: #B1B1B1;padding: 0;border-radius: 100%;background-color: transparent;border: 1px solid #B1B1B1;}
/* compare camera End */

/* comparison table start */

/* Desktop compare Start */
.add-to-cart-btn-block .btn-custom,.mobile-buttons .btn-custom{text-transform:uppercase;}
.spec-chart.collapse {height: 300px !important;overflow: hidden;display: block !important;margin-bottom: 40px;}
.spec-chart.collapse.in {height: auto !important;}
.camera-spec:nth-child(odd) {background: linear-gradient(to right,rgba(229,229,229,0) 0,#e5e5e5 18%,#e5e5e5 89%,rgba(229,229,229,0) 100%);}
.camera-spec {margin-bottom: 5px;padding: 10px 0;color: #B1B1B1;}
.camera-spec p {margin: 0;font-size: 18px;}
.camera-spec:nth-child(even) {background: linear-gradient(to right,rgba(241,241,241,0) 0,#f1f1f1 18%,#f1f1f1 89%,rgba(241,241,241,0) 100%);}
.camera-spec div:nth-child(2) {color: #78be20;}
.camera-spec div:nth-child(2) p{font-family: FlySans-Medium,Helvetica,Arial,sans-serif;text-transform: uppercase;}
.camera-spec div:nth-child(2) b{font-weight:700;}
.add-to-cart-btn-block .price_color {font-size: 20px;text-align: center;color: #78be20;margin-bottom: 10px;font-weight:700;}
.compare-cameras .spec-txt,.compare-cameras-mobile .spec-txt{margin-bottom: 0;color: #B1B1B1;font-size: 14px;}
.expand .glyphicon, .expand-hd .glyphicon, .expand-4k .glyphicon,.expandedBtn .glyphicon{font-family:'FontAwesome';font-size: 35px;}
.center-block {display: block;margin-left: auto;margin-right: auto;}
.expand, .expand-mobile {width: 36px;height: 36px;position: relative;font-weight: 700;cursor: pointer;color: #B1B1B1;padding: 0;border-radius: 100%;background-color: transparent;border: 1px solid #B1B1B1;}
.expandedBtn, .expand-mobile {width: 36px;height: 36px;position: relative;font-weight: 700;cursor: pointer;color: #B1B1B1;padding: 0;border-radius: 100%;background-color: transparent;border: 1px solid #B1B1B1;}
.collapse .btn[data-toggle=collapse] .minus, .collapse .btn[data-toggle=collapse] .plus, .expand .minus, .expand .plus, .expand-mobile .minus, .expand-mobile .plus {width: 34px;height: 34px;display: block;position: absolute;top: -5px;left: 0;text-align: center;transition: .5s all ease-out;}
.collapse .btn[data-toggle=collapse] .minus, .collapse .btn[data-toggle=collapse] .plus, .expandedBtn .minus, .expandedBtn .plus, .expand-mobile .minus, .expandedBtn-mobile .plus {width: 34px;height: 34px;display: block;position: absolute;top: -5px;left: 0;text-align: center;transition: .5s all ease-out;}
.expandedBtn .plus {opacity: 0;-webkit-transform: rotate(90deg);transform: rotate(90deg);display: none;}
.expandedBtn .minus {opacity: 1;-webkit-transform: rotate(0);transform: rotate(0);}
/* Desktop compare End */

/* Mobile compare Start */
.mobile-buttons{margin-bottom: 100px;}
.compare-cameras-mobile .mobile-camera {width: 100%;}
.compare-cameras-mobile .mobile-chart {height: 288px;overflow: hidden;margin-bottom: 20px;}
.compare-cameras-mobile .mobile-chart p:nth-child(odd) {background: linear-gradient(to right,rgba(229,229,229,0) 0,#e5e5e5 18%,#e5e5e5 89%,rgba(229,229,229,0) 100%);}
.compare-cameras-mobile .mobile-chart p {margin-bottom: 3px;padding-top: 10px;padding-bottom: 10px;color: #B1B1B1;font-size: 18px;}
.compare-cameras-mobile .mobile-chart p:nth-child(even) {background: linear-gradient(to right,rgba(241,241,241,0) 0,#f1f1f1 18%,#f1f1f1 89%,rgba(241,241,241,0) 100%);}
.compare-cameras-mobile .mobile-buttons .price_color {font-size: 20px;text-align: center;color: #78be20;margin-bottom: 10px;margin-top: 30px;}
.price_color{font-weight:700;}
.mobile-chart.collapse.in {height: auto!important;}
.mobile-chart.collapse {min-height: 288px!important;display: block!important;}
.expandedBtn:hover{color:#B1B1B1;}
/* Mobile compare End */
/* comparison table End */

/* video start */

.player-toggle{max-width:854px;margin:0 auto;position:relative;}
.quality-head{z-index: 1;margin:0;padding:0;list-style-type:none;top: 30px;right: 70px;}
.quality-head li{display:inline-block;width:40px;height:40px;border:2px solid #b1b1b1;border-radius:50%;position:relative;}
.quality-head button{    background-color: transparent;border: none;color: #b1b1b1;font-size: 18px;line-height: 1;font-weight: normal;font-family:'Flysans-Medium';height: 100%;width: 100%;}
.quality-head button:hover,.quality-head li:hover,.quality-head li.active{color:#7ABC31;border-color:#7ABC31;}
.quality-head li.active button{color:#7ABC31;}
/*.quality-head li a{position:absolute;line-height:35px;left: 20%;font-size: 18px;font-family: 'Flysans-Medium';font-weight: bold;color: #b1b1b1;}
.quality-head li a:hover{text-decoration: none;}*/
/* video End */
/*----------------------------------------------------------------------------------------------------------------*/
/* Shop-360 Camera Page End */

/* Shop-360 Accessories Start */
/*----------------------------------------------------------------------------------------------------------------*/

.product-intro{background-image: url('../images/accessory_header.jpg');background-repeat: no-repeat;background-size: cover;padding: 90px 0;}
.product-intro h3{font-family: FlySans-SemiBold,helvetica,arial,sans-serif;font-size: 38px;color: #7abc31;line-height: 1;margin:3px 0 8px;}
.product-intro .medium-font {font-family: FlySans-Medium,helvetica,arial,sans-serif;color: #fff;line-height:1.2;font-size: 20px;margin:0 0 20px;}
.product-intro p {line-height: 1.2;color: #ccc;font-size: 20px;margin:0 0 20px;}
.accessories{max-width: none;width: 100%;background-image: url('../images/facets-fade.png');background-repeat: repeat-x;background-size: inherit;}
.page-inner{padding: 30px;}
.camera_4k_badge, .camera_hd_badge {width: 41px;height: 40px;display: inline;position: absolute;background-image: url('../images/compatibility/hd-4k.png');background-size: cover;top: -8%;}
.accessories label[for=camera_type] {color: #666;font-family: FlySans-Medium,helvetica,arial,sans-serif;font-weight: 400;font-size: 20px;text-transform: uppercase;
    margin-bottom: 20px;}
.accessory_top_bar {width: 100%;border-bottom: 2px solid #cdcdcd;margin-bottom: 20px;}
#camera_type {font-size: 20px;box-shadow: none;background-color: transparent;background-image: none;border-radius: 5px;margin-left: 55px;}
.image-container{max-width: 100%;width: 100%;padding: 4px;margin:0 0 20px;background-color: #fff;display: inline-block;}
.products{min-height:270px;overflow:hidden;margin:0 0 10px;}
.products h3{font-size: 16px;font-weight: 400;font-family: FlySans-SemiBold,helvetica,arial,sans-serif;padding: 0;
    white-space: inherit;margin-top: 0;text-overflow: initial;text-align: left;}
.products h3 a{color:#333;}
.products .price_color{font-family: FlySans-Medium,helvetica,arial,sans-serif;font-size: 16px;color: #7abc31;font-weight: normal;}
/*----------------------------------------------------------------------------------------------------------------*/
/* Shop-360 Accessories End */

/*----------------------------------------------------------------------------------------------------------------*/
/* Shop - 360 - Handlebar Mount HD Accessories Start */
.accessory{padding-top:30px;}
.accessory h2{font-weight:normal;font-size: 47px;}
.accessory .thumbnail{border:none;}
.accessory-bar{background: url('../images/mounts_package_bg.jpg') no-repeat;background-size: cover;padding-top: 215px;padding-bottom: 150px;border-top: #78be20 35px solid;margin-bottom: -5px;}
.accessory-bar h3{color: #78be20;font-size: 47px;margin: 3px 0 8px;font-family: "FlySans-Light", Arial, sans-serif;line-height: 1.4}
.accessory-bar p{color: #666;font-size: 25px;margin: 0 0 20px;}
.product-promotions{padding-top: 30px;clear: both;float: none;background-color: #fff;}
.product-main{font-family: FlySans-,Helvetica,Arial,sans-serif;}
.product-main h1{font-size: 38px;margin:3px 0 8px;font-weight: 600;color:#78be20;}
.product-description p{font-size: 20px;margin: 0 0 20px;color: #333;line-height: 1.42857143;}
.product-description ul{margin-bottom:20px;}
.product-description ul li{font-size:16px;}
.camera-compatibility span{font-weight:700;font-size:16px;}
.camera-compatibility img{height:35px;}
.product-main .price_color{font-size: 26px;margin-bottom:0;}
/*----------------------------------------------------------------------------------------------------------------*/
/* Shop - 360 - Handlebar Mount HD Accessories End */

/* Category Page Start - catalog/list.phtml */

.catalog-category-view .products-grid{clear: both;background: transparent;border-bottom: none;}
.catalog-category-view .cam-name{font-size: 16px;font-weight: 400;font-family: FlySans-SemiBold,helvetica,arial,sans-serif;padding: 0;white-space: inherit;margin-top: 0;text-overflow: initial;text-align: left;margin:3px 0 8px;line-height:1.1;font-style: normal;}
.catalog-category-view .cam-name a:not(.btn){color:#000;}
.catalog-category-view .products-list .price-box{float:right;margin:0 0 10px;}
.catalog-category-view .regular-price .price {font-family: FlySans-Medium,helvetica,arial,sans-serif;font-size: 16px;color: #7abc31;font-weight: normal;}

/* Category Page End - catalog/list.phtml */

/* Product Description Page Start */

.product-essential{padding:30px;background-image:none;}
.std ul{padding-left:40px;color:#333;list-style: none;}
.availability{display: none;}
.price-box{margin:0;}
.regular-price .price{font-weight: 700;margin-bottom: 0;color: #78be20 ;font-size: 32px;}
.catalog-product-view .add-to-cart label{line-height:45px;margin-bottom: 0;margin-right: 10px;color:#333;}
input.qty{width:100px !important;}

/* Product Description Page End */

/* Product Desc Page Same as landing Page Start */

.category-cameras .landing-img{width: 100%;position: absolute;top: 30px;right: -35px;transform: scale(1.65);}
.category-cameras .camera-4k .landing-img{top: 220px;right: 110px;}
.category-cameras .short-description.std{padding-top: 250px;text-align: right;}
.short-description ul li:before{content: "";background-color: #78be20;position: absolute;margin-left: -20px;width: 7px;height: 7px;font-size: 20px;border-radius: 100px;margin-top: 7px;}
.category-cameras h3{font-size: 26px;color: #000;line-height: 1;font-family: FlySans-SemiBold,Helvetica,Arial,sans-serif;
    font-weight: 500;margin:3px 0 8px;}
.category-cameras .camera-info p{font-size: 20px;line-height: 1.2;color: #333;font-family: FlySans-,Helvetica,Arial,sans-serif;}
.category-cameras .camera-info{text-align: right;}
#landing-cart:hover, #landing-cart-btn:hover{background-color: #60981a;color: #fff;border: 2px solid #60981a;}
.graybg{background-color:#333333;}
.landing-page-content,.landing-page-content h2,.landing-page-content li,.landing-page-content p,.landing-page-content ul{color:#fff;}
.landing-page-content h2{margin:100px 0 20px;}
.category-cameras .landing-header {background-image: url("../images/camera-details/facet-camera-header.jpg");background-size: cover;background-repeat: no-repeat;display: block;}
.category-cameras .landing-hand{background-image: url(../images/camera-details/facets-camera-dark.jpg);padding-top: 60px;padding-bottom: 50px;
    background-size: cover;background-repeat: no-repeat;}
.category-cameras .landing-camera-layer{padding-bottom:170px;}
.category-cameras .hand-holding-camera{position: relative;z-index: 2;top: -385px;width: 930px;}
.category-cameras .hand-holding-camera img{width: 100%;position: absolute;}
.tech-specs .no-padding {padding-left: 0;padding-right: 5px;}
.tech-specs{font-weight: 400;font-style: normal;color: #fff!important;padding-top: 10px;margin-top: 10px;font-family: FlySans-Medium,Helvetica,Arial,sans-serif;}
.landing-page-content p{color: #bcbec0;font-size: 14px;margin-bottom: 5px;line-height:1.6;}
.landing-page-content .table-heading {font-size: 14px;margin-bottom: 5px;font-weight: 400;font-style: normal;color: #fff;padding-top: 10px;margin-top: 10px;font-family: FlySans-Medium,Helvetica,Arial,sans-serif;line-height: 1.6;}
.landing-page-content .no-padding h4{font-size: 26px;margin: 3px 0 8px;color: #fff;}
.x-hidden{overflow-x: hidden;}
.compatible-hd{font-family: 'Flysans-SemiBold'};
/* Product Desc Page Same as landing Page End */

/* About us Sub menu Navbar Start */
.cms-about-360fly .sub-nav-bar {color: #fff;clear: both;float: none;height: 36px;z-index: 3;top:-36px;left:20px;display: block;position: absolute;}
.cms-about-360fly .sub-nav{margin: 0;padding: 0;display: block;height:100%;}
.cms-about-360fly .sub-nav li {display: inline-block;height:100%;text-align: center;}
.cms-about-360fly .sub-nav li a {font-size: 14px;height:100%;line-height:36px;width: 80px; display: inline-block;text-align: center;;font-family: "FlySans-", Arial, sans-serif;cursor: pointer;}
.wrapper-width.po-rel.quick-links-about {margin-top: -36px;z-index: 5;}
.quick-links-about{position: absolute;top: -36px;max-width: 1060px;float: none;clear: both;z-index: 1;}
/* About us Sub menu Navbar End */


/* Camera Category Start */

.show-lg-md{display: none;}
.show-mobile-4k{display: none;}
.edit-icon{font-family:'FontAwesome';font-size:15px;margin-left:5px;}
.cameras-contain .btn.btn-shop-4k{margin:0 0 30px 70px;float: left;}
.cameras-contain .btn.btn-shop-hd{margin:0 70px 30px 0;float: right;}
/* Camera Category End */
/* Account Dashboard Start */

.customer-account-index .container-fluid,.customer-account-edit .container-fluid, .customer-address-index .container-fluid,.customer-address-form .container-fluid{overflow-x:hidden;}

/* Account Dashboard End */

/* card management start */

.customer-cardmanagement-new .title-buttons .btn.btn-custom{margin:0;}

/* card management end */

/* Checkout index start */
.checkout-cart-index input.qty{display: inline-block;}
.checkout-cart-index .cart-table .btn-update{top:13px;}
.onestepcheckout-index-index #onestepcheckout-form div.checkoutcontainer #shipping_address{padding: 0 10px;}
.onestepcheckout-error:before{content: "\f057";font-family: fontawesome;position: absolute;left: 2%;color: red;}
/* Checkout index End */
/* B2B Page Start */
.cms-b2b{background:#191919;}
 .cms-b2b .graybg{background: #191919;}
 .cms-b2b .b2bContainer{padding:20px 15px 115px;}
 .cms-b2b .b2bContainer h2{font-size: 45px;color:#fff;margin: 3px 0 8px;line-height: 1.6;}
 .cms-b2b .b2bContainer p{font-size: 20px;margin-bottom: 20px;color: #fff;font-weight: normal;line-height: 30px;}
 .cms-b2b .voxx{border: none; overflow: hidden; margin: 15px auto; max-width: 235px;}
 .cms-b2b .voxx .iframe-block{border: 0px none; border: 0px none; margin-left: -486px; height: 560px; margin-top: -292px; width: 708px;}
 /* B2B Page End */
 /* Search Icon Start */
 .inline-block{display: inline-block;}
.search-link-header .form-group{float:right !important;transition:all 0.3s, border-radius 0s;width:32px;height:32px;background-color:transparent;border-radius:25px;margin-bottom:0px;padding:5px 0;transition:all 0.3s ease-in-out;}
.search-link-header .form-group input.form-control{padding-right:20px;border:0 none;background:transparent;box-shadow:none;display:block;height:23px;border-radius:50px;cursor:pointer;font-size:14px;color:#fff;margin:1px 0;}
.search-link-header .form-group input.form-control::-webkit-input-placeholder{color:#fff;}
.search-link-header .form-group input.form-control:-moz-placeholder{color:#fff;}
.search-link-header .form-group input.form-control::-moz-placeholder{color:#fff;}
.search-link-header .form-group input.form-control:-ms-input-placeholder{color:#fff;}
.search-link-header .form-group span.form-control-feedback{position:absolute;top:1px;right:-2px;z-index:2;display:block;width:34px;height:34px;line-height:34px;text-align:center;color:#fff;left:initial;font-size:14px;}
.search-link-header .form-control-feedback{font-size: 12px;}
.hidden-xs .header-account-links .links .last a{border-right:1px solid #fff;}
.header-mobile .top-bar-section form{display: block;}
.header-mobile .top-bar-section .form-control{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px;}
.header-mobile .top-bar-section .form-control:focus{border-color: #66afe9;outline: 0;box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);}
.search-autocomplete{background: #efeded;border: 1px solid #cac7c7;color: #333;text-align: center;font-family: Flysans-medium;text-transform: lowercase;top: 31px;padding:0 2%;}
.search-autocomplete:hover{cursor:pointer;}
.search-autocomplete .amount{padding-right: 5px;}
.search-autocomplete ul{margin-bottom: 0;}
.search-autocomplete ul li:after{border-bottom: 1px solid #c7c7c7;width:50%;margin:0 auto;}
.search-autocomplete ul li:last-child:after{border-bottom: none;}
 /* Search Icon End */
/* Search Page Start */
.catalogsearch-result-index .search-title{border-bottom: 1px solid transparent;text-transform: inherit;padding:30px 15px 20px;}
.catalogsearch-result-index .search-title h1{font-size: 30px;line-height: 40px;margin-bottom: 0;margin-top: 3px;font-family: FlySans-,Helvetica,Arial,sans-serif;font-weight: 500;color:#333;}
.catalogsearch-result-index .note{font-family: FlySans-,Helvetica,Arial,sans-serif;line-height: 1.42;color:#333;font-size: 16px;margin-bottom: 20px;}
.catalogsearch-result-index .product-grid .cam-name{line-height: 1.42857143;font-weight: 700;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
    margin-top: 4px;font-size: 18px;margin-bottom: 0;}
.catalogsearch-result-index .product-grid .cam-name a,.catalogsearch-result-index .product-grid h3.cam-name{color:#000 !important;}
.catalogsearch-result-index .product-grid .price-box{display: block;text-align: center;width: 100%;}
.catalogsearch-result-index .product-grid .regular-price .price {font-weight: 500;margin-bottom: 0;color: #1a1a1a;font-size: 20px;}
/* Search Page End */
/* 404 Erro Page Start */
.cms-index-noroute{background: #000;}
/* 404 Erro Page End */
/* CMS store Locator Start */
.cms-store-locator input#search_button:focus{outline: -webkit-focus-ring-color auto 0px;}
/* CMS store Locator End */
/* Account Forgot Start */
.customer-account-forgotpassword .body-wrapper{overflow-x: hidden;}
/* Account Forgot End */
/* Sales order view start */
.sales-order-view .title-buttons{text-align:left;}
.sales-order-view .reorder-print .link-reorder{color: #78BE20 !important;}
.sales-order-view .my-account .order-info-panel-heading{background-color: #78BE20;color: #111;text-transform: uppercase;font-family: "FlySans-",Arial,sans-serif;
    padding: 11px 10px;border-bottom: 1px solid transparent;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.sales-order-view .my-account .order-info{border: 1px solid transparent;}
/* Sales order view End */
/* message */
.messages>li{margin-top: 10px !important;}
/* fly20420 start */
.fly20420 p{font-family: "FlySans-Light", Arial, sans-serif;font-size: 20px;line-height: 30px;margin-bottom: 20px;}
.fly-20420-terms p {font-family: "FlySans-Medium", Arial, sans-serif;font-size: 14px;line-height: 30px;margin-bottom: 10px;}
.fly-20420-terms{height:480px;overflow-y: scroll;border: 1px solid #dcdcdc;background-color: #f5f5f5;margin-top: 80px;font-size: 16px;}
/* fly20420 End */
/* Supported Device Start */
.cms-supported-devices h1{font-size: 45px;margin:3px 0 8px;}
.support-devices{font-size: 16px;line-height: 1.6;list-style-type: disc;margin-left: 17px;margin-bottom: 20px;}
.support-device-container p{font-size: 20px;line-height: 30px;}
/* Supported Device End */
/* stores start */
.cms-au-stores{background: #000;}
.stores-bkg{background:url(../images/facets.jpg) no-repeat top center;}
.location-bkg{background: rgb(65, 64, 66); color: white;line-height: 1.6;font-size: 16px;}
.location-bkg .country{color: #f1f1f2;text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);font-family: "FlySans-Light", Arial, sans-serif;font-size: 35px;text-align: center;}
.location-bkg .zone{padding: 10px;color: #008C95;margin: 3px 0 8px;line-height: 1.4;}
.address-block{padding-bottom: 10px;min-height: 160px;float: left;}
/* stores End */
/* Led Page Start */
.cms-led{background: #000;}
.led{padding:20px 0 0;}
.led-bkg{background:url(../images/facets.jpg) no-repeat top center;padding: 20px 0 0;}
.led-desc h2{font-size: 45px;color:#fff;line-height:1.4;margin:3px 0 8px;}
.led-desc p{font-size: 20px;color:#fff;margin-bottom: 20px;line-height: 30px;}
.led-desc p:last-child{padding-bottom: 10px;}
.cms-led .led-camera{height: 100%;width: 100%;position: relative;}
.led-cam{margin-top: 132px;max-width: 100%;height: auto;display: inline-block;vertical-align: middle;}
.led-camera .triangle {position: absolute;z-index: 9999;height: 24px;width: 20px;top: 334px;left: 41px;}
.led-hr{clear: both;height: 0;margin: 20px 0 19px;border: 2px solid #333333;}
.led-states ul{list-style-type: none;padding: 0;margin: 0;color: white;font-size: 16px;line-height: 1.6;list-style-position: outside;}
.led-states ul a{color:#4D4D4D;text-decoration: none;}
.led-states ul a:hover{color: #bdbdbd;}
.led-states ul li{line-height: 38px;font-size: 18px;}
.led-states img.led-light {width: 11px;margin-right: 12px;margin-top: 1px;}
.led-states img.led-light-three {width: 33px;margin-left: -22px;margin-right: 12px;margin-top: 0px;}
.led-states img.led-light-two {width: 22px;margin-left: -12px;margin-right: 12px;margin-top: 0px;}
.led-download{padding:20px 15px;}
.btn.btn-led{-webkit-appearance: none;border-style: solid;border-width: 0;cursor: pointer;font-family: "FlySans-", Arial, sans-serif;font-weight: 600;line-height: normal;margin: 0 0 1.25rem;position: relative;text-align: center;text-decoration: none;display: inline-block;padding: 16px 32px 17px 32px;font-size: 16px;background-color: #78be20;border-color: #60981a;color: #FFFFFF;transition: background-color 300ms ease-out;float:right;}
a.btn.btn-led:hover{background-color:#60981a;}
.led-states li span.active{color: #fff;text-decoration: none;}
.led-states span.active span {margin-left: 25px;text-decoration: none;}
.led-states li span strong {color: #78be20;}
/* Led Page End */
/* Editing Page Start */
.editing-bkg{background-image:url(../images/editing/how-to-web-lrg-header.jpg);background-size: cover;background-repeat: no-repeat;padding-top: 88px;padding-bottom: 106px;}
.editing-bkg h2{font-size: 45px;margin:3px 0 8px;}
.editing-bkg p{color: white;font-size: 18px;line-height: 22px;margin-bottom: 12px;}
.mobile-hands{max-width: 100%;height: auto;}
.editing-main{margin-top: 35px;}
.editing-main .no-dull h2 {text-transform: uppercase;color: black;text-align: center;border-top: 1px solid black;border-bottom: 1px solid black;padding-top: 10px;padding-bottom: 10px;margin-top: 0px;margin-bottom: 20px;font-weight: bold;font-size: 45px;line-height: 1.4;}
.editing-main .no-dull h2 span {font-size: 44px;font-weight: normal;}
.small-block-grid-3{display: block;padding: 0;}
.small-block-grid-3:before, .small-block-grid-3:after {content: " ";display: table;}
.editing-main .slick-slide, .editing-main .slick-slider {background-color: white !important;}
.editing-nav .small-block-grid-3 li,.effects-nav .small-block-grid-3 li,.share-nav .small-block-grid-3 li{text-align: center;list-style: none;width: 33.33333%;display: block;float: left;height: auto;padding: 0 10px 20px;}
.small-block-grid-3 > li:nth-of-type(3n+1) {clear: both;}
.editing-nav .small-block-grid-3 li a:focus,.effects-nav .small-block-grid-3 li a:focus,.share-nav .small-block-grid-3 li a:focus{text-decoration: none;}
.editing-nav .small-block-grid-3 li a h3,.effects-nav .small-block-grid-3 li a h3,.share-nav .small-block-grid-3 li a h3{color:black;text-transform: uppercase;}
.editing-nav .small-block-grid-3 .active-nav h3,.effects-nav .small-block-grid-3 .active-nav h3,.share-nav .small-block-grid-3 .active-nav h3{color: #78be20; !important;}
.editing-main .custom-dots,.effects-custom-dots,.share-custom-dots {position: relative;bottom: -15px;list-style: none;display: table !important;text-align: center;padding: 0;width: auto;padding-right: 0;margin: 0px auto;}
.editing-main .custom-dots li, .effects-custom-dots li, .share-custom-dots li{float: left;font-size: 25px;position: relative;display: block;height: 5px;width: 5px;margin: 0 5px;padding: 0;cursor: pointer;}
.editing-main .custom-dots li button, .effects-custom-dots li button, .share-custom-dots li button {opacity: .35;border-radius: 100%;background: transparent;display: block;height: 5px;width: 5px;outline: none;line-height: 0;font-size: 0;background-color: #78be20;padding: 5px;cursor: pointer;border: 0px solid transparent;}
.editing-main .custom-dots li.custom-active button, .effects-custom-dots li.custom-active button, .share-custom-dots li.custom-active button {opacity: 1;background-color: #78be20;}
.slick-slide{float: left;height: 100%;min-height: 1px;display:none;}
.slick-slider{clear:both;}
.slick-slide img{display: block;max-width: 100%;height:auto;}
.editing-main h3 {font-size: 20px;color: black;text-transform: uppercase;line-height: 1.4;margin: 3px 0 8px;}
.editing-main p {font-size: 15px;line-height: 22px;letter-spacing: 1px;margin-bottom: 12px;}
.slick-active h3{font-weight: bold;}
/* Editing Page End */
/* Privacy-policy-mobile start */
.cms-privacy-policy-mobile{letter-spacing: 1px;word-wrap:break-word;}
/* Privacy-policy-mobile End */
/* Terms use mobile page start */
.cms-terms-use-mobile{letter-spacing: 1px;word-wrap:break-word;}
/* Terms use mobile page End */
