@font-face {
  font-family: 'FlySans-Bold';
  src: url("../fonts/FlySans-Bd.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-Bd.woff") format("woff"), url("../fonts/FlySans-Bd.ttf") format("truetype"), url("../fonts/FlySans-Bd.svg#Fly Sans Bold") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-UltraLightItalic';
  src: url("../fonts/FlySans-UltLtIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-UltLtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-UltLtIt.woff") format("woff"), url("../fonts/FlySans-UltLtIt.ttf") format("truetype"), url("../fonts/FlySans-UltLtIt.svg#Fly Sans UltraLight Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-UltraLight';
  src: url("../fonts/FlySans-UltLt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-UltLt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-UltLt.woff") format("woff"), url("../fonts/FlySans-UltLt.ttf") format("truetype"), url("../fonts/FlySans-UltLt.svg#Fly Sans UltraLight") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-ThinItalic';
  src: url("../fonts/FlySans-ThIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-ThIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-ThIt.woff") format("woff"), url("../fonts/FlySans-ThIt.ttf") format("truetype"), url("../fonts/FlySans-ThIt.svg#Fly Sans Thin Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-Thin';
  src: url("../fonts/FlySans-Th.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-Th.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-Th.woff") format("woff"), url("../fonts/FlySans-Th.ttf") format("truetype"), url("../fonts/FlySans-Th.svg#Fly Sans Thin") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-SemiBoldItalic';
  src: url("../fonts/FlySans-SmBdIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-SmBdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-SmBdIt.woff") format("woff"), url("../fonts/FlySans-SmBdIt.ttf") format("truetype"), url("../fonts/FlySans-SmBdIt.svg#Fly Sans SemiBold Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-SemiBold';
  src: url("../fonts/FlySans-SmBd.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-SmBd.woff") format("woff");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-RegularItalic';
  src: url("../fonts/FlySans-RgIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-RgIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-RgIt.woff") format("woff"), url("../fonts/FlySans-RgIt.ttf") format("truetype"), url("../fonts/FlySans-RgIt.svg#Fly Sans Regular Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-';
  src: url("../fonts/FlySans-Rg.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-Rg.woff") format("woff"), url("../fonts/FlySans-Rg.ttf") format("truetype"), url("../fonts/FlySans-Rg.svg#Fly Sans") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-MediumItalic';
  src: url("../fonts/FlySans-MdIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-MdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-MdIt.woff") format("woff"), url("../fonts/FlySans-MdIt.ttf") format("truetype"), url("../fonts/FlySans-MdIt.svg#Fly Sans Medium Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-Medium';
  src: url("../fonts/FlySans-Md.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-Md.woff") format("woff"), url("../fonts/FlySans-Md.ttf") format("truetype"), url("../fonts/FlySans-Md.svg#Fly Sans Medium") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-LightItalic';
  src: url("../fonts/FlySans-LtIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-LtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-LtIt.woff") format("woff"), url("../fonts/FlySans-LtIt.ttf") format("truetype"), url("../fonts/FlySans-LtIt.svg#Fly Sans Light Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-Light';
  src: url("../fonts/FlySans-Lt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-Lt.woff") format("woff"), url("../fonts/FlySans-Lt.ttf") format("truetype"), url("../fonts/FlySans-Lt.svg#Fly Sans Light") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-BoldItalic';
  src: url("../fonts/FlySans-BdIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-BdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-BdIt.woff") format("woff"), url("../fonts/FlySans-BdIt.ttf") format("truetype"), url("../fonts/FlySans-BdIt.svg#Fly Sans Bold Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }


body{font-family:"FlySans-", Arial, sans-serif;font-style:normal;font-weight:normal;background:#fff;}
.cms-index-index .pov .pov-para{margin: 0 0 20px;}
.cms-index-index .btn.btn-custom {margin:0px 0 20px;}
.cms-index-index .product-slider .product_pod p{margin-bottom:5px!important;}
.cms-index-index .ls-background {margin-top: 0px !important;}
.cms-index-index .google-btn-link,.cms-index-index .apple-btn-link{float:left;margin-left:8px;}
.slider-buy-now:hover{background:#60981a!important;text-decoration:none;}
.inner-div{max-width:980px;}
.sub-category a{color:white;padding:6px;}
.sub-category{padding-right:10px;}
.submenu1,.submenu2{display:none;position:absolute;z-index:4}
.submenu1 li a,.submenu2 li a{float:left;clear:none;color:#fff;font-size:14px;border-right:1px solid #fff;line-height:14px;text-transform:uppercase;margin-top:11px;padding:0px 10px;font-family: "FlySans-", Arial, sans-serif;font-weight: normal;}
.slider_1{background:url("../images/video-player-bg.jpg");width:100%;}
.video_img{background-image:url("../images/video-player-bg.jpg");background-repeat:no-repeat;background-position:center;background-size:cover;padding-top:96px;padding-bottom:160px;width:100%;height:766px;}
.video_img1{margin:0 auto;max-width:62.5rem;width:100%;}
.video_background{background-image:url("../images/fov-bg.jpg");background-repeat:no-repeat;background-position:center;background-size:cover;padding:95px 0 48px;}
.video_img1 h2{color:#78be20;font-size:2.375rem;line-height:2.5625rem;font-weight:900;font-family:"FlySans-Medium", Arial, sans-serif;text-align:center;}
.video_img1 h3{font-size:1.59375rem;line-height:1.625rem;color:#666666;margin-bottom:1.25rem;}
.innner_globe{margin:0 auto;max-width:62.5rem;width:100%;}
.learn_more_small{font-weight: 300;text-align: center;text-transform: none;padding: 6px 33px;font-size: 20px;line-height: 33px;background: #78be20;border-radius: 1000px;}
.learn_more_large{font-weight:300;text-align:center;text-transform:none;font-size:1.25em;line-height:2.3125em;background:#78be20;color:white;border-radius:1000px;margin-bottom: 20px;}
.valign{padding:107px 0;}
.valign h2{margin:0;line-height:2.5625rem;font-weight:900;font-family:"FlySans-Medium", Arial, sans-serif;color:#78be20;}
.valign h3{color:#666666;margin-bottom:1.25rem;font-family:"FlySans-", Arial, sans-serif;font-style:normal;font-weight:normal;}
.valign p{font-size:18px;line-height:26px;margin-bottom:2.1875rem;}
.learn_more_small:hover,.learn_more_large:hover{background-color:#60981a;}
.learn_more_small a:hover,.learn_more_large:hover{color:white;}
.video_background .valign h3 {line-height: 26px;font-size: 25px;}
.dir{padding-bottom:48px;overflow:hidden;}
.video_img2{background-image:url("../images/elements/dirt/dirt-bg.jpg");background-size:cover;overflow: visible; min-height: 828px;width: 100%;background-repeat: no-repeat;background-position: center;padding: 78px 0;}
.hand{background-color:#fff;padding:3.75rem 0 3.125rem;}
.hand h2{margin:0;font-size:36px;line-height:2.5625rem;font-weight:900;font-family:"FlySans-Medium";color:#78be20;}
.hand h3{font-size:24px;line-height:4.625rem;color:#666666;font-family:"FlySans-", Arial, sans-serif;font-style:normal;font-weight:normal;margin-bottom:1.25rem;}
.hand p{font-size:22px;line-height:2.6875rem;margin-bottom:2.1875rem;font-family:"FlySans-Light", Arial, sans-serif;}
.pre-footer{background-image:url("../images/app-bg.jpg");background-repeat:no-repeat;background-position:center;background-size:cover;padding:75px 0 50px 0;}
.desktop_img{position:absolute;width:2000px;left:0px;top:-234px;pointer-events:none;z-index:2}
.pre-footer h2{color:#78be20;font-size:38px;font-weight:900;font-family:"FlySans-Medium", Arial, sans-serif;}
.pre-footer h3{font-size:24px;font-family:"FlySans-", Arial, sans-serif;color:#fff;margin-bottom:1.25rem;}
.pre-footer p{color: #999999;margin-bottom: 2.1875rem;max-width:420px;font-family: "FlySans-Light", Arial, sans-serif;font-size: 20px;line-height: 30px;}
.line-break{display:inline-block;}
.footer-360{bottom:0;width:100%;height:252px;background-color:#000000;padding:24px 0 0 0;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;-moz-font-smoothing:antialiased;}
.footer-logo{margin:10px 0;display:block;width:76px;}
.footer-360 .footer-nav{margin:25px 0 12px;}
.footer-360 .footer-nav{font-size:14px;}
.footer-360 ul{list-style:none;padding:0px;line-height:1.3;}
.inline-list{overflow:hidden;}
.footer-360 .inline-list li{display:inline;margin-left:0px;margin-right:0px;}
.inline-list > li{display:block;float:left;list-style:none;}
/*.footer-360 a{color:white;}*/
/*.footer-360 ul{margin:0;padding:0;}*/
.footer-360 ul{list-style: none;padding: 0px;line-height: 1.3;overflow: hidden;}
.footer-360 ul li{list-style-type:none;display:inline;}
/*.footer-360 li:before{content:" | ";}*/
.footer-360 li:first-child:before{content:none;}
.footer-360 .copyright, .footer-360 .footer-nav{font-size:14px;text-align:left;}
.footer-360 .footer-bottom-nav{margin-top:22px !important;}
.footer-360 #mc-embedded-subscribe-form{display:inline-block;width:120px;margin-right:12px;margin-left:12px;margin-bottom:0px;}
.footer-360 .btn-footer, .footer-360 #mc-embedded-subscribe-form .btn-footer{border-color:#666666;border-radius:50px;border-width:2px;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s;}
.footer-360 #mc-embedded-subscribe-form .btn-footer{width:120px;background-color:transparent;margin-bottom:0;min-width: 120px;font-weight:100;cursor: initial;-webkit-user-select:text;}
.footer-360 .contact{margin-top:46px;}
.footer-360 .btn-footer:hover{background-color:#666666;color:#999999;}
.footer-360 a:hover{text-decoration:none;color:#fff;}
.retailer{border-color:#666666;background:transparent;border-radius:50px;border-width:2px;margin-bottom: 0;min-width: 120px;width: 120px;font-family:"FlySans-", Arial, sans-serif;font-weight: normal;padding:6px 12px;text-align: center;color:#999999;transition:all 0.5s;}
.contact .retailer:hover{background-color: #666666;color: #999999;border-color:#666666;}
.footer-360 .social-icons{margin-right:-8px;margin-left:-8px;margin-top:20px;margin-bottom:8px;}
.icon-instagram-jul15:before{content:"\e65d";}
.footer-360 .contact .social-icons span{font-size:32px;}
[class^="icon-"], [class*=" icon-"]{font-family:'360fly';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.navbar-brand{padding:0px;}
.navbar-brand>img{height:100%;padding:15px;width:auto;}
.header-360 .navbar-brand{height:80px;height:82px;margin:12px 0px;}
.header-360 .nav >li >a{margin-top:58px;margin-bottom:15px;font-family:"FlySans-Light";font-size:18px;border-right: 1px solid #999;line-height: 0px;padding-bottom: 10px;padding-bottom: 10px}
/*.header-360 .nav >li >a:after{content:"|";}*/
.header-360 .navbar-toggle{padding:10px;margin:25px 15px 25px 0;}
.header-subnav-bar{background:#7abc31;padding:6px;}
.sub-menu{margin:0px;}
.header-subnav-bar .inline-list a{color:white;font-size:12px;padding:6px;}
.header-subnav-bar .pull-right li:before{content:"|";color:white;}
.header-subnav-bar .pull-right li:first-child:before{content:none;}
/*#navbar3{margin-top:20px;}*/
.inner-subnav{max-width:980px;}
.top{background:black;}
.top a{color:#999999;}
.top ul{margin:0px;padding:0px;font-size:16px;}
.custom{background-color:#999999;}
.large{font-size:75px;line-height:65px;font-family:"FlySans-Medium", Arial, sans-serif;font-weight:900;margin-bottom:40px;color:#78be20;}
.video_img2 .container img {max-width: 100%;}
.dirt{padding-bottom:50px;overflow:hidden;}
.dirt-wrap{position:absolute;bottom:-443px;left:0px;width:100%;height:0px;}
.back{position:absolute;top:-101px;left:0px;width:550px;}
#dirt-back-spray-1{position:absolute;top:-241px;left:-96px;width:686px;-ms-transform:scale(0.2);-webkit-transform:scale(0.2);transform:scale(0.2);pointer-events:none;}
#dirt-back-spray-2{position:absolute;top:-241px;left:-96px;width:800px;-ms-transform:scale(0.2);-webkit-transform:scale(0.2);transform:scale(0.2);pointer-events:none;}
#dirt-spray-front {position: absolute;top: -149px;left: -96px;width: 635px;-ms-transform: scale(0.5);-webkit-transform: scale(0.5);transform: scale(0.5);pointer-events:none;}
.camera{position:absolute;top:-258px;left:173px;width:200px;pointer-events:none;opacity:0;}
.dirt-wrap .camera img{max-width:100%;height:auto;display: inline-block;}
.dirt-spray-front{position:absolute;top:-149px;left:-96px;width:635px;}
.front{position:absolute;top:-88px;left:-15px;width:550px;}
.about_img{background:url(../images/product_enclosure2.jpg);height:260px;background-size:cover;background-repeat:no-repeat;background-position:center;}
.about_img_text h1{font-size:46px;display:block;padding-top:96px;margin:0px auto;max-width:1000px;text-shadow:none;font-family:"FlySans-Light", Arial, sans-serif;}
.about_img_text h1{color:#000;font-size:45px;display:block;padding-top:101px;margin:0px auto;max-width:1000px;text-shadow:none;font-family:"FlySans-Light", Arial, sans-serif;}
.about_contain{margin-left:auto;margin-right:auto;}
.about_contain p{font-family:"FlySans-Light", Arial, sans-serif;font-size:20px;}
.about_contain h2{color:#78be20;font-family:"FlySans-", Arial, sans-serif;font-style:normal;font-weight:normal;line-height:1.4;margin-bottom:0.5rem;margin-top:0.2rem;text-rendering:optimizeLegibility;}
.to-top:hover{border-color: #808285;color: #fff;background-color: #808285;}
.to-top{margin-top:20px;border:2px solid #808285;color:#808285;font-weight: 600;font-family: "FlySans-", Arial, sans-serif;text-transform:none;line-height: normal;position: relative;text-align: center;text-decoration: none;display: inline-block;padding: 16px 32px 17px 32px;font-size: 16px;}
.round{border-radius:1000px;}
.career-section {margin-bottom: 77px;}
.career-section  p a{color:#78be20;}
.career-section p a:hover{    color: #67a31c;text-decoration:none}
.toTop{border-radius:50px;margin-top:20px;border:2px solid #808285;color:#808285;background-color:transparent;text-transform:none;}
.about-contain p{font-family:"FlySans-Light", Arial, sans-serif;font-size:20px;line-height: 30px;color:#222;    margin-bottom: 20px;}
.about-contain{padding-left: 0px;padding-right:0px;margin-left:auto;margin-right:auto;max-width:1000px;margin-top: 77px;}
.about-contain h2{color:#78be20;font-family:"FlySans-", Arial, sans-serif;font-style:normal;font-weight:normal;line-height:1.4;margin-bottom:8px;margin-top:4px;text-rendering:optimizeLegibility;font-size:45px;}
.about_contain .col{padding-right:0px;padding-left:0px}
.product-promotion h2{text-align: center;margin-bottom: 45px;font-size: 38px;color: #78be20;font-family: "FlySans-Medium", Arial, sans-serif;font-weight: 900;margin-left: 15px;}
/* FAQ */
.community-container{overflow-x: hidden;}
.faq-content{padding-bottom: 100px;}
.faq h1{margin-top: 3px;margin-bottom: 8px;font-style: normal;font-size: 38px;color:#333;line-height: 1.3}
.faq  p {font-family: "FlySans-", Arial, sans-serif;}
.question{font-size: 28px;padding-top: 30px;font-weight: bold;color: #333;margin: 0 0 20px;}
.answer{font-size:20px;color:#333;margin: 0 0 20px;}
.text-page{padding-top: 100px;padding-bottom: 100px;}
.wrapper-content{max-width: 1000px;padding-right: 0px;padding-left: 0px;}
.wrapper-content h2{color: #78be20;font-family: "FlySans-", Arial, sans-serif;font-style: normal;font-weight: normal;line-height: 1.4;margin-bottom: 8px;margin-top: 3px;text-rendering: optimizeLegibility;font-size: 45px;}
.wrapper-content h4{color: #78be20;font-family: "FlySans-", Arial, sans-serif;font-style: normal;font-weight: normal;line-height: 1.4;margin-bottom: 8px;margin-top: 3px;text-rendering: optimizeLegibility;font-size:23px;}
.wrapper-content p{color: #222;font-family: "FlySans-Light", Arial, sans-serif;font-size: 20px;line-height: 30px;margin-bottom: 20px;text-rendering: optimizeLegibility;}
.wrapper-content a{color:#78be20;}
.padding-lr{padding-right: 24px;padding-left:24px;}

/* Community */
.community-banner.small.bkg-cover{background-size: cover;}
.community-banner{background-image:url("../images/community/reed.jpg");margin-bottom:0px;background-size:cover;position:relative;background-position:center center;background-repeat:no-repeat;height:670px;}
.community-banner.small{position:relative;background-position:center center;background-size:auto 100%;background-repeat:no-repeat;}
.community-banner h2{font-family:"FlySans-Bold", Arial, sans-serif;font-size:88px;line-height:48px;text-transform:uppercase;color:white;margin-bottom:5px;font-style:normal;font-weight:normal;margin-top:3px;text-rendering:optimizeLegibility;}
.community-banner h3{font-size:60px;text-transform:uppercase;color:white;margin-bottom:5px;line-height:1.4;font-family:"FlySans-", Arial, sans-serif;font-style:normal;font-weight:normal;margin-top:3px;text-rendering:optimizeLegibility;}
.community-info1{position:absolute;padding-top:10px;padding-left:10px;margin-bottom:10px;width:100%;margin-top:516px;margin-left:62px;}
 .community-bg{background-image:url("../images/community-bg.jpg");background-repeat:repeat;background-position:center center;background-size:auto 100%;}
 .wrapper-width{margin:0 auto;max-width:1000px;width:100%;}
 #community-lorenzo{background-image:url("../images/community/lorenzo.jpg");}
.community-banner.small{height:400px;margin:10px 0 5px 0;}
 .community-info.gradient{background-image:linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.7) 100%);}
#community-garcia{background-image:url("../images/community/garcia.jpg");}
.community-info{position:absolute;padding-top:10px;padding-left:10px;bottom:0;width:100%;}
.community-banner.small h2{font-size:56px;line-height:44px;}
.community-banner.small h3{font-size:32px;}
.inner-wrapper{padding-left:0px;padding-right:0px;}
#community-cordova{background-image:url("../images/community/cordova.jpeg");}
#community-adams{background-image:url("../images/community/terryadams.jpg");}
#community-kx{background-image:url("../images/community/pro-circuit-kaw.jpeg");}
#community-canondale{background-image:url("../images/community/canondale.jpg");background-position: 0 16%;}
.video-wrapper{padding-top: 10px;padding-bottom: 8px;}
.last-community-banner{margin-bottom:10px;}

/* Community Inner Pages */
div.ta-container{background:url('../images/athletes/athlete_terry.jpg') no-repeat; background-size:cover;height:0px;padding-top: 54%;position:relative;}
div.matt-container{background:url('../images/athletes/Athlete_Matt.jpg') no-repeat; background-size:cover;height:0px;padding-top: 54%;position:relative;}
div.jorge-container{background:url('../images/athletes/athlete_jorge_header.jpg') no-repeat; background-size:cover;height:0px;padding-top: 40%;position:relative;}
div.sunny-container{background:url('../images/athletes/Athlete_Sunny_Garcia.jpg') no-repeat; background-size:cover;height:0px;padding-top: 40%;position:relative;}
div.pro-container{background:url('../images/athletes/Athlete_Pro_circuit.jpg') no-repeat; background-size:cover;height:0px;padding-top: 40%;position:relative;}
div.cannondale-container{background:url('../images/athletes/Athlete_Cannondale_Team.jpg') no-repeat; background-size:cover;height:0px;padding-top: 40%;position:relative;}
div.chad-container{background:url('../images/athletes/Athlete_Chad.jpg') no-repeat; background-size:cover;height:0px;padding-top: 40%;position:relative;}
div.kalani-container{background:url('../images/athletes/Athlete_Kalani.jpg') no-repeat; background-size:cover;height:0px;padding-top: 40%;position:relative;}
div.todd-container{background:url('../images/athletes/Athlete_Todd.jpg') no-repeat; background-size:cover;height:0px;padding-top: 40%;position:relative;}
div.jamie-container{background:url('../images/athletes/Athlete_Jamie.jpg') no-repeat; background-size:cover;height:0px;padding-top: 40%;position:relative;}
.covertext.text-contain{position: absolute;bottom: 9%;color: #fff; padding-left:15px;}
#athlete-marketing  h1.extreme-headline{font-size:60px;font-family: "FlySans-Light", Arial, sans-serif;color:#fff;}
#athlete-marketing h2.extreme-headline{font-size:40px;margin-top: 10px;color:#fff;}
.community-inner .bio-container{color:#ffffff;}
.community-inner .bio-left{background: rgb(51,51,51);padding-top: 50px;color: #FFFFFF;padding-bottom: 45px;}
.community-inner .bio-right{background:#78be20;}
.athlete-social .icons a:hover,.athlete-social .icons a:focus{text-decoration:none}
/* .community-inner .bio-left .bio-left-child-1{float:right;} */
.community-inner .bio-left .bio-left-child-1 p{font-family: "FlySans-Light", Arial, sans-serif;font-size: 16px;line-height: 30px;margin-bottom:20px;}
.terry-adams .bio-right{background: url('../images/athletes/terry_adams_backdrop.jpg') no-repeat;background-size: cover;background-position: bottom center;}
.matt-cordova .bio-right{background: url('../images/athletes/matt_backdrop.jpg') no-repeat;background-size: cover;background-position: bottom center;}
.pro-circuit .bio-right{background: url('../images/athletes/pro_circuit_backdrop.jpg') no-repeat;background-size: cover;background-position: center-left;}
.cannondale .bio-right{background: url('../images/athletes/Athlete_Cannondale_backdrop.jpg') no-repeat;background-size: cover;background-position: center center;}
.chad-reed .bio-right{background: url('../images/athletes/chad_reed_backdrop.jpg') no-repeat;background-size: cover;background-position: center center;}
.kalani-david .bio-right{background: url('../images/athletes/kalani_backdrop.jpg') no-repeat;background-size: cover;background-position: center center;}
.todd-wells .bio-right{background: url('../images/athletes/todd_wells_backdrop.jpg') no-repeat;background-size: cover;background-position: center center;}
.community-inner .bio-container {display: table-row;}
.community-inner .bio-left,.community-inner .bio-right{display: table-cell;width: 50%;vertical-align:top;}
#athlete-marketing,#featured-profile .featured-cover{position: relative;}
#athlete-marketing img{width:100%;}
.stats-box {margin-bottom: 30px;}
.stats-box span{display:block;font-size:16px;line-height:24px;}
.clear {clear: both;float: none;}
.bio-left .bio-left-child-2 .question {color: #78be20 ;margin-bottom: 0px;padding: 0px;font-family: "FlySans-Light", Arial, sans-serif;font-size: 16px;line-height: 30px;}
.bio-left .bio-left-child-2 p {color: #FFFFFF;padding: 0px;font-family: "FlySans-Light", Arial, sans-serif;font-size: 16px;line-height: 30px;}
.stats {color: #78be20;text-align: right;width: 70px;margin-right: 5px;}
.athlete-marketing .text-contain {width: 100%;margin-left: auto;margin-right: auto;margin-top: 0;margin-bottom: 0;max-width: 1000px;}
.text-contain p {font-family: "FlySans-Light", Arial, sans-serif;font-size: 20px;line-height: 30px;margin-bottom: 20px;padding:0px;}
.community-inner .bio-left .bio-left-child-2 h3 {color: #FFFFFF;font-size: 34px;}
.community-inner .bio-left h3 {color: #FFFFFF;font-size: 34px;}
.community-inner .bio-right h4 {color: #000;font-size: 20px;}
.community-inner .bio-right .date-highlight {color: #000;margin-bottom: 0px; }
.community-inner .bio-right p {font-size: 16px;line-height: 30px;}
.community-inner .bio-right .indent {margin-left: 15px;margin-bottom: 5px;}
.terry-adams #athletes-info .career{background-image: url("../images/athletes/terry_adams_backdrop.jpg");}
.bio{padding-top: 50px;background-color: #333;color: #FFFFFF;}
.space-left{padding-left:3%;}
.stats-box{margin-bottom:30px;}
#athletes-info .answer{padding:0px;}
.athlete-marketing #athletes-info p{font-size:16px;}
.athlete-career{padding-top:50px;color:#FFFFFF;padding:0px;position:relative;}
.athlete_highlight_text{position:relative;margin-top:50px;padding-left:24px;padding-right:24px;}
.athlete-social {background-color: #222;height: 153px;font-size: 26px;}
.athlete-social .athlete-wrapper{padding-top: 50px;padding-left: 10px;}
.icons{padding-left: 20px;}
.icons a:hover,.icons a:visited{text-decoration: none;}
.athlete-social .icons-wrapper p {color: #fff;padding-top: 5px;font-size: 24px;font-family: "FlySans-", Arial, sans-serif ;line-height: 30px;margin-bottom: 20px;}
.athlete-social .icons-wrapper .social-links {font-size: 42px;line-height: 1;margin-left: 1px;color:#78be20;}
.athlete-summary{margin-left:13%;}
.jorge-container .covertext.text-contain {bottom:1%}

/* Press */
.press-img{background-color:#D1D3D4;height:260px;background-image:url("../images/press_header_img.jpg");background-size:cover;background-repeat:no-repeat;background-position:center;margin-bottom:77px;}
.press-img h1{padding:0px 113px;vertical-align:middle;text-shadow:none;font-size:45px;display:block;padding-top:101px;margin:0px auto;max-width:1000px;color:#000;font-family:"FlySans-Light", Arial, sans-serif;font-style:normal;font-weight:normal;}
.list-content{margin-bottom:80px;padding:0px;}
.press-content p{margin-bottom:0px;font-family:"FlySans-Light", Arial, sans-serif;font-size:20px;line-height:30px;}
.press-content a{color:#78be20;line-height:inherit;text-decoration:none;}
#listings{padding:0px 108px;max-width:1000px;width:100%;margin-left:auto;margin-right:auto;}
#listings h2,h3{line-height:1.4;color:#78be20;font-family:"FlySans-", Arial, sans-serif;font-style:normal;font-weight:normal;margin-bottom:8px;margin-top:3px;text-rendering:optimizeLegibility;}
#listings h2{font-size:34px;}
#listings h3{font-size:20px;}
.snippet-text{margin-top:8px;margin-bottom:12px;}
a.read-more{display:inline-block;font-weight:normal;font-size:14px;border-style:solid;border-width:0;cursor:pointer;font-family:"FlySans-", Arial, sans-serif;line-height:normal;margin:0px 0px 20px;position:relative;text-align:center;text-decoration:none;padding:16px 32px 17px 32px;border-color:#60981a;color:#FFFFFF;transition:background-color 300ms ease-out;background-color:#78be20;margin-top:14px;}
a.read-more:hover{background-color:#60981a;color:white;}
p.wrap-para{word-break: break-word;}
/* Director */
 .director-page .director-banner{background-image: url("../images/apps/desktop-app-header.jpg");background-size: cover;padding-top: 120px;padding-bottom: 100px;border-top: #78be20 5px solid;}
 .director-page .director-banner h1 {text-shadow: none;font-size: 65px;text-transform: uppercase;line-height: 65px;font-family: "FlySans-Medium", Arial, sans-serif;color: #fff;margin: 3px 0 8px;}
 .director-page .director-banner p {font-size: 20px;line-height: 30px;color: #fff;margin-bottom: 24px;font-family: "FlySans-Light", Arial, sans-serif;}
 .director-page .director-banner .btn-custom{text-transform: none;}
 .director-page .download-section .director-btn-padding{padding:16px 32px 17px 32px;}
 .director-page .btn.btn-custom {border: 0px solid #78be20;}

 /* LANDING PAGE */
.landing-page .landing-footer h3{font-size: 36px;font-family: FlySans-SemiBold,Helvetica,Arial,sans-serif;color: #78be20;line-height: 1;margin-bottom:1;}
.landing-page .landing-footer h5{font-family: FlySans-Medium,Helvetica,Arial,sans-serif;color: #666;font-size: 25px;margin-top: 0;}
.landing-page .landing-footer p{color: #333;margin: 0 0 20px;line-height: 1.42857143;font-family: FlySans-,Helvetica,Arial,sans-serif;}
.landing-page .landing-footer{background: #dfdfdf;}
/*.landing-page .landing-footer img{ display: inline-block;max-width: 550px;vertical-align: top;}*/
.landing-page .landing-footer #apps-img{vertical-align: initial;}
.landing-logo {margin-top:-45px;}
.landing-page h2.landing-title{text-align: center;margin-bottom: 45px;font-size: 38px;color: #78be20;font-family: FlySans-SemiBold,Arial,sans-serif;margin-left: 15px;}
.landing-page .landing-header{background-image: url("../images/camera-details/facet-camera-header.jpg");background-size: cover;background-repeat: no-repeat;display:block;}
.landing-page .landing-header .landing-camera-layer{background-image: url("../images/camera-details/4K-packaging.png");padding-top: 285px;padding-bottom: 170px;background-repeat: no-repeat;background-position: -190px 0;background-size: 80%;}
.landing-page .landing-header .camera-info{text-align: right}
.landing-page .landing-header .camera-info h3{font-size: 26px;color: #000;line-height: 1;font-family: FlySans-SemiBold,Helvetica,Arial,sans-serif;}
.landing-page .landing-header .camera-info p{font-size: 20px;line-height: 1.2;margin: 0 0 20px;}
#landing-cart,#landing-cart-btn{color: #fff;border: 2px solid #78be20;border-radius: 1000px;background-color: #78be20;font-size: 20px;padding: 0 20px;
    text-transform: uppercase;font-family: FlySans-,Helvetica,Arial,sans-serif;}
.landing-page #landing-cart-inverse{margin-left: 18px;background-color: transparent;width: 151px;color: #78be20;border: 2px solid #78be20;border-radius: 1000px ;
    font-family: FlySans-,Helvetica,Arial,sans-serif;font-size:20px;padding:0 20px;}
.landing-page .landing-header-btn{width:220px;}
.landing-page .landing-header .camera-info p.price_color{color: #78be20;font-size: 32px;margin-bottom: 20px;font-weight: 700;}
.landing-page .landing-mobile-header{width:100%;}
.landing-page .landing-hand{background-image: url(../images/camera-details/facets-camera-dark.jpg);padding-top: 60px;padding-bottom: 50px;background-size: cover;
    background-repeat: no-repeat;}
.landing-page .hand-holding-camera img {width: 100%;position: absolute;}
.landing-page .hand-holding-camera {position: relative;z-index: 999999;top: -385px;width: 930px;}
.landing-content h2 {color: #78be20;font-size: 38px;line-height: 1;font-family: FlySans-SemiBold,Helvetica,Arial,sans-serif;}
.landing-hand .landing-content p {color: #ccc;line-height: 1.2;font-size:20px;}
.landing-page .page-inner{position: relative;padding-top: 205px;padding-left: 30px;}
.landing-page .product-main h3{font-size: 36px;margin-top: 30px;margin-bottom: 10px;font-family: FlySans-SemiBold,Helvetica,Arial,sans-serif;font-weight: 100;
}
.landing-page .product-description ul li{font-size: 20px;margin-bottom: 25px;color: #666; list-style: none}
.landing-page .product-description ul li:before{content: "";background-color: #78be20;position: absolute;margin-left: -20px;width: 6px;height: 6px;font-size: 20px;border-radius: 100px;margin-top: 12px;}
.landing-page .product-main p.price_color{color: #78be20;font-size: 32px;font-family: FlySans-,Helvetica,Arial,sans-serif;font-weight: 400;margin-left: 20px;
    margin-bottom: 20px;clear: both;float: none;}
.landing-page .flexslider:hover .flex-direction-nav .flex-prev:hover ,.landing-page .flexslider:hover .flex-direction-nav .flex-next:hover {opacity: 0;}
.landing-page .flexslider:hover .flex-direction-nav .flex-prev ,.landing-page .flexslider:hover .flex-direction-nav .flex-next {opacity: 0;left: 10px;}
.landing-page .flex-control-thumbs li {width: 20%;float: left;}
.landing-page .flex-control-thumbs .flex-active {border:none;}
.landing-page .flex-control-thumbs img{height:93px;width:93px}
img.camera-logo {margin-bottom: 30px;}


/* Sign In */
/*Nj updated .body-wrapper to login wrapper,register wrapper*/
.login-wrapper,.register-wrapper{background-color:#FFFFFF;margin-bottom: 0px;}
.customer-account-login .login-wrapper{padding-bottom: 50px;}
/*.login-wrapper div.form-bg,.register-wrapper div.form-bg{background-color:#191919;}*/
.customer-account-login .page-title h2,.customer-account-create .page-title h2{font-style: normal;color: #000000;text-transform: none;font-size: 45px;font-family: FlySans-Medium,Arial,sans-serif;}
.login-wrapper .form-group label,.register-wrapper .form-group label{font-style: normal;color: #333;font-size: 20px;font-size: 20px;font-family: FlySans-,Arial,sans-serif;font-weight: 400;display: inline-block;}
.login-btn p{font-size: 20px;font-family: FlySans-,Helvetica,Arial,sans-serif;}
.login-btn .btn.btn-custom,.register-btn .btn.btn-custom{font-family: Flysans-,Arial,sans-serif;margin:0;}
.account-login .new-users h2{background-image:none;}
.new-users p{font-size: 20px;font-family: "FlySans-", Arial, sans-serif;margin-bottom: 20px;color: #333;}
.new-users .btn.btn-custom{font-family: Flysans-,Arial,sans-serif;margin: 0;}
/* Sign Up */
.register-container{padding-bottom: 50px;}
.register-wrapper .agreement{color:#808284;}
.register-wrapper .form-group input ,.login-wrapper .form-group input{ height:34px;}
.register-wrapper .checkbox label{color:#000;}
.register-wrapper .register-btn,.login-wrapper .login-btn{padding-bottom:7px}
.customer-account-create .page-title h1{padding:0;margin:0;width:auto;}
.agree{font-size:16px;font-family: FlySans-,Helvetica,Arial,sans-serif;}
.agree a:focus{text-decoration: none;}
/* Dashboard */

/* Panaroma Video */
.swipe-icon{background-image:url("../images/swipe-icon.png");height:130px;width:100%;margin:0px auto;background-position:center;background-repeat:no-repeat;margin-top:20px;position:absolute;}
.video-overlay-content{position:absolute;width:100%;margin-top:10%;}
.video-overlay-content .video-overlay-text p{color:#f0f0f0;font-size:32px;font-weight:bold;text-align:center;margin:0px;font-family:"FlySans-", Arial, sans-serif !important;position:relative;line-height:1;}
.video-overlay-content .video-overlay-text p b{font-size:42px;}
.home-video{width: 100%!important;height: 85%!important;position: absolute;}
.videocontent{position: relative;}
.vjs-poster{z-index:1;background-size:cover;}
.video-js .vjs-control-bar .vjs-VR-control{display: none !important;}
/* Header */
.header #navbar3 ul li a.cart-color{color:#78be20;}

/*Au Page Starts*/
.cms-australia ul.download-section{margin-left: 0;}
.cms-australia ul.download-section li{padding-left: 0;}
.cms-australia .social-connect .social-links:hover{color: #fff;}
.cms-australia .btn.btn-shop,.cms-australia .btn.au-video-btn {width:200px;padding:10px 35px;min-width: 0px;}
.cms-australia .product-block .product-img {margin-top: 20px}

/*App page*/
#compatible-section ul {list-style-type:disc;}

/*Shop Page starts*/
.home-shop a.btn.btn-custom{margin-left: 0;}
.product-block p.center{margin: 0 auto 30px;}

/*Mobile Footer */
a.cart-count{color: #78BE20!important;}
.header #navbar3 .submenu li:last-child a {border-right:none;}
.footer-360 .email:focus{outline:none;}
.footer-360 .btn.btn-custom{-webkit-user-select: initial;moz-user-select: none;ms-user-select: none;-select: none;}
/* Dew Tour 2015 Start */
.cms-dewtour2015{background-image:url('../images/facets-mobile.jpg')}
.my-videos-container {padding: 48px 32px;height: auto;}
.my-videos-container .profile-container {padding-left: 0px;width: 23%;}
.dew-tour-img{display:block; padding-top:50px; margin:auto;max-width:100%;height: auto;}
.my-videos-container .recent-video h2 {font-size: 28px;font-family: 'FlySans-Medium';line-height: 0;margin-bottom: 30px;text-transform: uppercase;color: #fff;}
.my-videos-container .recent-video .videocontent {height: 405px;margin-bottom: 50px;}
.recent-video .video-container .video-overlay-content{margin-top:6%;}
.recent-video .video-container .video-overlay-content .swipe-icon{margin-top: 0%;height:68px;background-size: contain;}
.devtour-video{width: 100%;height: 100%;position: absolute;}
.my-videos-container .recent-video .video-overlay-content .video-overlay-text{position: relative;top: 88px;}
.my-videos-container .recent-video .video-overlay-content .video-overlay-text p{font-size: 28px;}
.my-videos-container .recent-video .videocontent .vjs-default-skin .vjs-control-bar{bottom: 0px;}
.my-video-info {background-color: rgba(0, 0, 0, 0.5);clear: both;float: none;margin-top: 20px;padding-top: 20px;display: inline-block;}
.video-title{color: #78be20;margin-bottom: 0px;line-height: 1.05;font-size: 34px;font-family: 'FlySans-Medium';}
.my-video-info .video-date {font-size: 24px;margin-top: 5px;margin-bottom: 25px;line-height: 1.05;}
.my-video-info h4{color:#fff;}
.video-description{font-size: 16px;line-height: 1.4;color:#fff;margin-bottom: 20px;}
.my-video-info .embed-div{width:56%;margin:0 auto;}
.my-video-info .video-distribute{height: 80px;}
.my-video-info .video-distribute p {color: #999999;font-family: "FlySans-", Arial, sans-serif;font-size: 16px;line-height: 24px;margin-bottom: 0px;text-transform: uppercase;margin-bottom: 20px;}
.my-video-info .video-distribute li {display: inline-block;margin-right: 8px;width: 40px;height: 40px;font-size: 40px;line-height: 40px;}
.my-video-info .video-distribute li a:not(.btn):hover{color: #fff;}
.btn.btn-grey{line-height: normal;position: relative;text-decoration: none;text-align: center;background-color: transparent;color: #808284;border: 2px solid #808285;border-radius: 1000px;transition: all .3s ease-out;font-weight:600;font-family:FlySans-Light,Helvetica,Arial,sans-serif;padding: 12px 32px 8px;text-transform: capitalize;margin-top: -18px;font-size: 16px;}
.my-video-info .video-distribute .btn.btn-grey:hover {background-color: #808285;border: 2px solid #808285;color: white !important;font-family: "FlySans-Light", Arial, sans-serif;}
.half{padding:8px 0;}
#embed-collapse {background-color: #212121 !important;border: 1px solid #323232 !important;color: #999999 !important;width: 320px;margin-top: 30px;padding-left: 25px;padding-right: 25px;resize: none;line-height: 20px;white-space: pre-line;clear: both;float: none;height:0px;min-height:0px;}
.show-collapse{transition: all .5s linear;-moz-transition: all .5s linear;-o-transition: all .5s linear;-webkit-transition: all .5s linear; opacity:0;margin-bottom: 20px;}
.padd{padding: 30px 25px;}
.display-block{display: block;}
.my-video-list h2 {font-size: 28px;font-family: 'FlySans-Medium';line-height: 0;margin-top: 25px;margin-bottom: 20px;text-transform: uppercase;color: #fff;}
.myvideos{display: block;padding:0;margin:0;}
.myvideos li{padding: 5px;list-style: none;overflow: hidden;float: left;height: auto;float: left;}
.my-video-list ul li a .video-halfWidth {border: #808284 1px solid;min-height: 169px;width: 100%;padding: 0;}
.my-video-list .play {width: 70px;height: 70px;color: white;opacity: 0.70;font-size: 4.3em;position: absolute;z-index: 0;left: 50%;top: 50%;
    -webkit-transform: translate(-50%, -50%);moz-transform: translate(-50%, -50%);ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.my-video-list .info-overlay {position: absolute;z-index: 9997;width: 100%;height: 100%;background: -moz-linear-gradient(top, transparent 0%, transparent 57%, rgba(0, 0, 0, 0.95) 100%);background: -o-linear-gradient(top, transparent 0%, transparent 57%, rgba(0, 0, 0, 0.95) 100%);background: -ms-linear-gradient(top, transparent 0%, transparent 57%, rgba(0, 0, 0, 0.95) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 );}
.my-video-list .info-overlay .video-data {position: relative;top: 95%;webkit-transform: translateY(-90%);ms-transform: translateY(-90%);transform: translateY(-90%);margin-left: 20px;}
.my-video-list .info-overlay .video-data .video-title {width: 80%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight: bold;
    margin-top: 0px;margin-bottom: 0px;font-size: 16px;line-height: 18px;color: white;text-shadow: 0px 2px 0px rgba(33, 33, 33, 0.5);text-transform: uppercase;font-family: 'Flysans-Medium';}
.my-video-list .info-overlay .video-data .video-info {width: 80%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: 12px;line-height: 16px;
    color: white;text-shadow: 0px 1px 0px rgba(33, 33, 33, 0.5);}
/* Dew Tour 2015 End */
.blackbg{background:#000;}
.edge-dewtour .degradation-message{padding:0;width: 100%;}
.edge-dewtour img.player-controls{margin: 30px 0 0;}
.edge-dewtour  .off-road{padding:25px 0;}
.edge-dewtour  .off-road h2{margin-top: 30px;}
.edge-error{background-image:url('/images/facets-mobile.jpg')}
.degradation-message{padding:200px 0;margin: 0 auto;width:85%;color: #fff;text-align: center;}
.degradation-message h1{color: #fff;margin-bottom: 20px;line-height: 44px;text-shadow: 0px 0px 5px black;}
.degradation-message  p{font-size: 20px;color: #fff;line-height: 30px;font-weight: bold;font-family: Flysans-Light;}
img.player-controls {display: inline-block;vertical-align: middle;width: 100%;height: auto;}
.off-road{padding: 50px 0 40px 0px;}
.off-road span{color: #999;font-size: 14px;position: relative;float: left;}
.off-road h2{margin: 0;color: #fff;position: relative;float: left;}
.video-author .show-for-medium-up{font-family: "FlySans-Light", Arial, sans-serif;font-size: 20px;line-height: 30px;float: right;}
.edge{background-color: #191919;margin-top: 0;}
.video-info{font-face: 'Flysans-';font-size: 16px;line-height: 24px;color: #999;}
.show-on-uncompatible-browser{display: none;}
.show-on-mobile{display:none;}
.edge .embed-div{float: right;}
.edge .video-info{margin:8% 0;}
.show-on-uncompatible-browser .my-video-info{display: block;}
