<?xml version="1.0"?>
<config>
	<modules>
		<HD_Layout>
			<version>1.0.0</version>
		</HD_Layout>
	</modules>
	<frontend>
		<layout>
            <updates>
                <hd_layout>
                    <file>360fly.xml</file>
                </hd_layout>
            </updates>
        </layout>
	</frontend>
</config>
