
/*
	XS
	FROM 320px - 767px
*/

/********************************************************************************************************************/
@media screen and (min-width: 320px) and (max-width:767px){
	.footer-360 .container{padding:0;}
	.footer-360 {padding-left: 15px;padding-right: 15px;height: 550px;}
	.footer-360 .inline-list li {display: inline;line-height: 1.42857143;}
	.footer-360 .footer-nav li {clear: both;}
	.footer-360 .hide-mobile{display:none;}
	.footer-360 .inline-list li a{border:none;padding-left:0;}
	.hide-mobiel{display:none;}
	.footer-360 .contact{margin-top:10px;}
	.footer-360 .text-right{text-align:left;}
	.footer-360 #mc-embedded-subscribe-form{display: block;margin-top: 10px;margin-left: 0px;margin-bottom: 10px;clear: both;float: none;}
	.footer-360 .show-mobile{display: block;}
	.footer-360 .show-mobile .footer-nav li{float:none;}
	.footer-360 .contact .retailer {clear: both;float: none;width: 120px;}
}





/********************************************************************************************************************/
/*
	SM
	FROM 768px - 991px
*/

/********************************************************************************************************************/
@media screen and (min-width: 768px) and (max-width:991px){
	.footer-360 .contact #mc-embedded-subscribe-form {margin-bottom: 10px;float: right;clear: both;margin-right: 2px;margin-left: 22px;}
	.footer-360 .contact .btn-footer {float: right;display: block;margin-top: 0px;clear: both;margin-right: 12px;}
	.footer-360 .contact .retailer {float: right;display: block;margin-top: 0px;clear: both;margin-right: 12px;}
}






/********************************************************************************************************************/

/*
	MD
	FROM 992px - 1199px
*/

/********************************************************************************************************************/
@media screen and (min-width: 992px) and (max-width:1199px){
	.footer-360 .contact #mc-embedded-subscribe-form {margin-bottom: 10px;float: right;clear: both;margin-right: 2px;margin-left: 22px;}
	.footer-360 .contact .btn-footer {float: right;display: block;margin-top: 0px;clear: both;margin-right: 12px;}
	.footer-360 .contact .retailer {float: right;display: block;margin-top: 0px;clear: both;margin-right: 12px;}
}






/********************************************************************************************************************/

/*
	LG
	ABOVE 1200
*/

/********************************************************************************************************************/
@media screen and (min-width:1200px){
	
}






/********************************************************************************************************************/
/*
	Custom Viewport for higher resolution
	
	Ideally this should be used, unless necessary
*/

/********************************************************************************************************************/






/********************************************************************************************************************/

