@font-face {
  font-family: 'FlySans-Bold';
  src: url("../fonts/FlySans-Bd.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-Bd.woff") format("woff"), url("../fonts/FlySans-Bd.ttf") format("truetype"), url("../fonts/FlySans-Bd.svg#Fly Sans Bold") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-UltraLightItalic';
  src: url("../fonts/FlySans-UltLtIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-UltLtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-UltLtIt.woff") format("woff"), url("../fonts/FlySans-UltLtIt.ttf") format("truetype"), url("../fonts/FlySans-UltLtIt.svg#Fly Sans UltraLight Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-UltraLight';
  src: url("../fonts/FlySans-UltLt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-UltLt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-UltLt.woff") format("woff"), url("../fonts/FlySans-UltLt.ttf") format("truetype"), url("../fonts/FlySans-UltLt.svg#Fly Sans UltraLight") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-ThinItalic';
  src: url("../fonts/FlySans-ThIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-ThIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-ThIt.woff") format("woff"), url("../fonts/FlySans-ThIt.ttf") format("truetype"), url("../fonts/FlySans-ThIt.svg#Fly Sans Thin Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-Thin';
  src: url("../fonts/FlySans-Th.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-Th.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-Th.woff") format("woff"), url("../fonts/FlySans-Th.ttf") format("truetype"), url("../fonts/FlySans-Th.svg#Fly Sans Thin") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-SemiBoldItalic';
  src: url("../fonts/FlySans-SmBdIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-SmBdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-SmBdIt.woff") format("woff"), url("../fonts/FlySans-SmBdIt.ttf") format("truetype"), url("../fonts/FlySans-SmBdIt.svg#Fly Sans SemiBold Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-SemiBold';
  src: url("../fonts/FlySans-SmBd.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-SmBd.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-SmBd.woff") format("woff"), url("../fonts/FlySans-SmBd.ttf") format("truetype"), url("../fonts/FlySans-SmBd.svg#Fly Sans SemiBold") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-RegularItalic';
  src: url("../fonts/FlySans-RgIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-RgIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-RgIt.woff") format("woff"), url("../fonts/FlySans-RgIt.ttf") format("truetype"), url("../fonts/FlySans-RgIt.svg#Fly Sans Regular Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-';
  src: url("../fonts/FlySans-Rg.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-Rg.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-Rg.woff") format("woff"), url("../fonts/FlySans-Rg.ttf") format("truetype"), url("../fonts/FlySans-Rg.svg#Fly Sans") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-MediumItalic';
  src: url("../fonts/FlySans-MdIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-MdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-MdIt.woff") format("woff"), url("../fonts/FlySans-MdIt.ttf") format("truetype"), url("../fonts/FlySans-MdIt.svg#Fly Sans Medium Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-Medium';
  src: url("../fonts/FlySans-Md.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-Md.woff") format("woff"), url("../fonts/FlySans-Md.ttf") format("truetype"), url("../fonts/FlySans-Md.svg#Fly Sans Medium") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-LightItalic';
  src: url("../fonts/FlySans-LtIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-LtIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-LtIt.woff") format("woff"), url("../fonts/FlySans-LtIt.ttf") format("truetype"), url("../fonts/FlySans-LtIt.svg#Fly Sans Light Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-Light';
  src: url("../fonts/FlySans-Lt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-Lt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-Lt.woff") format("woff"), url("../fonts/FlySans-Lt.ttf") format("truetype"), url("../fonts/FlySans-Lt.svg#Fly Sans Light") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: 'FlySans-BoldItalic';
  src: url("../fonts/FlySans-BdIt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FlySans-BdIt.eot?#iefix") format("embedded-opentype"), url("../fonts/FlySans-BdIt.woff") format("woff"), url("../fonts/FlySans-BdIt.ttf") format("truetype"), url("../fonts/FlySans-BdIt.svg#Fly Sans Bold Italic") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

body{font-family:"FlySans-", Arial, sans-serif;font-style:normal;font-weight:normal;}
.inner-div{max-width:980px;}
.sub-category a{color:white;padding:6px;}
.sub-category{padding-right:10px;}
.submenu1,.submenu2{display:none;position:absolute;z-index:4}
.submenu1 li a,.submenu2 li a{float:left;clear:none;color:#fff;font-size:14px;border-right:1px solid #fff;line-height:14px;text-transform:uppercase;margin-top:11px;padding:0px 10px;font-family: "FlySans-", Arial, sans-serif;
    font-weight: normal;}
.slider_1{background:url("../images/video-player-bg.jpg");width:100%;}
.video_img{background-image:url("../images/video-player-bg.jpg");background-repeat:no-repeat;background-position:center;background-size:cover;padding-top:96px;padding-bottom:160px;width:100%;height:766px;}
.video_img1{margin:0 auto;max-width:62.5rem;width:100%;}
.video_background{background-image:url("../images/fov-bg.jpg");background-repeat:no-repeat;background-position:center;background-size:cover;padding:5.9375rem 0 3rem;}
.video_img1 h2{color:#78be20;font-size:2.375rem;line-height:2.5625rem;font-weight:900;font-family:"FlySans-Medium", Arial, sans-serif;text-align:center;}
.video_img1 h3{font-size:1.59375rem;line-height:1.625rem;color:#666666;margin-bottom:1.25rem;}
.innner_globe{margin:0 auto;max-width:62.5rem;width:100%;}
.learn_more_small{font-weight:300;text-align:center;text-transform:none;padding:11px 2.0625em;font-size:1.25em;line-height:2.3125em;background:#78be20;color:white;border-radius:1000px;}
.learn_more_large{font-weight:300;text-align:center;text-transform:none;font-size:1.25em;line-height:2.3125em;background:#78be20;color:white;border-radius:1000px;margin-bottom: 20px;}
.valign{padding:6.6875rem 0;}
.valign h2{margin:0;line-height:2.5625rem;font-weight:900;font-family:"FlySans-Medium", Arial, sans-serif;color:#78be20;}
.valign h3{color:#666666;margin-bottom:1.25rem;font-family:"FlySans-", Arial, sans-serif;font-style:normal;font-weight:normal;}
.valign p{font-size:18px;line-height:26px;margin-bottom:2.1875rem;}
.learn_more_small:hover,.learn_more_large:hover{background-color:#60981a;}
.learn_more_small a:hover,.learn_more_large:hover{color:white;}

.dir{padding-bottom:48px;overflow:hidden;}
.video_img2{background-image:url("../images/elements/dirt/dirt-bg.jpg");background-repeat:no-repeat;background-position:center;background-size:cover;padding-top:96px;padding:64px 0;width:100%;overflow: visible; min-height: 828px;}
.hand{background-color:#fff;padding:3.75rem 0 3.125rem;}
.hand h2{margin:0;font-size:36px;line-height:2.5625rem;font-weight:900;font-family:"FlySans-Medium";color:#78be20;}
.hand h3{font-size:24px;line-height:4.625rem;color:#666666;font-family:"FlySans-", Arial, sans-serif;font-style:normal;font-weight:normal;margin-bottom:1.25rem;}
.hand p{font-size:22px;line-height:2.6875rem;margin-bottom:2.1875rem;font-family:"FlySans-Light", Arial, sans-serif;}
.pre-footer{background-image:url("../images/app-bg.jpg");background-repeat:no-repeat;background-position:center;background-size:cover;padding:75px 0;}
.desktop_img{position:absolute;width:2000px;left:0px;top:-234px;pointer-events:none;z-index:2}
.pre-footer h2{color:#78be20;font-size:38px;line-height:0.5625em;;font-weight:900;font-family:"FlySans-Medium", Arial, sans-serif;}
.pre-footer h3{font-size:24px;font-family:"FlySans-", Arial, sans-serif;line-height:2.0625rem;color:#fff;margin-bottom:1.25rem;}
.pre-footer p{color: #999999;margin-bottom: 2.1875rem;max-width:420px;font-family: "FlySans-Light", Arial, sans-serif;font-size: 20px;line-height: 30px;}
.line-break{display:inline-block;}
.footer-360{bottom:0;width:100%;height:252px;background-color:#000000;padding:24px 0 0 0;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;-moz-font-smoothing:antialiased;}
.footer-logo{margin:10px 0;display:block;width:76px;}
.footer-360 .footer-nav{margin:25px 0 12px;}
.footer-360 .footer-nav{font-size:14px;}
.footer-360 ul{list-style:none;padding:0px;line-height:1.3;}
.inline-list{overflow:hidden;}
.footer-360 .inline-list li{display:inline;margin-left:0px;margin-right:0px;}
.inline-list > li{display:block;float:left;list-style:none;}
/*.footer-360 a{color:white;}*/
/*.footer-360 ul{margin:0;padding:0;}*/
.footer-360 ul{list-style: none;padding: 0px;line-height: 1.3;overflow: hidden;}
.footer-360 ul li{list-style-type:none;display:inline;}
/*.footer-360 li:before{content:" | ";}*/
.footer-360 li:first-child:before{content:none;}
.footer-360 .copyright, .footer-360 .footer-nav{font-size:14px;}
.footer-360 .footer-bottom-nav{margin-top:22px !important;}
.footer-360 #mc-embedded-subscribe-form{display:inline-block;width:120px;margin-right:12px;margin-left:12px;margin-bottom:0px;}
.footer-360 .btn-footer, .footer-360 #mc-embedded-subscribe-form .btn-footer{border-color:#666666;border-radius:50px;border-width:2px;-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s;}
.footer-360 #mc-embedded-subscribe-form .btn-footer{width:120px;background-color:transparent;margin-bottom:0;min-width: 120px;}
.footer-360 .contact{margin-top:46px;}
.footer-360 .btn-footer:hover{background-color:#666666;color:#999999;}
.footer-360 a:hover{text-decoration:none;color:#fff;}
.retailer{border-color:#666666;background:transparent;border-radius:50px;border-width:2px;margin-bottom: 0;min-width: 120px;width: 120px;font-family:"FlySans-", Arial, sans-serif;font-weight: normal;padding:0;text-align: center;color:#999999;}
.retailer:hover{background:grey;}
.footer-360 .social-icons{margin-right:-8px;margin-left:-8px;margin-top:20px;margin-bottom:8px;}
.icon-instagram-jul15:before{content:"\e65d";}
.footer-360 .contact .social-icons span{font-size:32px;}
[class^="icon-"], [class*=" icon-"]{font-family:'360fly';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.navbar-brand{padding:0px;}
.navbar-brand>img{height:100%;padding:15px;width:auto;}
.header-360 .navbar-brand{height:80px;height:82px;margin:12px 0px;}
.header-360 .nav >li >a{margin-top:58px;margin-bottom:15px;font-family:"FlySans-Light";font-size:18px;border-right: 1px solid #999;line-height: 0px;padding-bottom: 10px;padding-bottom: 10px}
/*.header-360 .nav >li >a:after{content:"|";}*/
.header-360 .navbar-toggle{padding:10px;margin:25px 15px 25px 0;}
.header-subnav-bar{background:#7abc31;padding:6px;}
.sub-menu{margin:0px;}
.header-subnav-bar .inline-list a{color:white;font-size:12px;padding:6px;}
.header-subnav-bar .pull-right li:before{content:"|";color:white;}
.header-subnav-bar .pull-right li:first-child:before{content:none;}
/*#navbar3{margin-top:20px;}*/
.inner-subnav{max-width:980px;}
.top{background:black;}
.top a{color:#999999;}
.top ul{margin:0px;padding:0px;font-size:16px;}
.custom{background-color:#999999;}
.large{font-size:75px;line-height:65px;font-family:"FlySans-Medium", Arial, sans-serif;font-weight:900;margin-bottom:40px;color:#78be20;}
.dirt{padding-bottom:3.125rem;overflow:hidden;}
.dirt-wrap{position:absolute;bottom:-443px;left:0px;width:100%;height:0px;}
.back{position:absolute;top:-101px;left:0px;width:550px;}
#dirt-back-spray-1,#dirt-back-spray-2{position:absolute;top:-241px;left:-96px;width:686px;-ms-transform:scale(0.2);-webkit-transform:scale(0.2);transform:scale(0.2);}
.camera{position:absolute;top:-258px;left:173px;width:200px;pointer-events:none;opacity:0;}
.dirt-spray-front{position:absolute;top:-149px;left:-96px;width:635px;}
.front{position:absolute;top:-88px;left:-15px;width:550px;}
.about_img{background:url(../images/product_enclosure2.jpg);height:260px;background-size:cover;background-repeat:no-repeat;background-position:center;}
.about_img_text h1{font-size:46px;display:block;padding-top:96px;margin:0px auto;max-width:1000px;text-shadow:none;font-family:"FlySans-Light", Arial, sans-serif;}
.about_img_text h1{font-size:46px;}
.about-contain{margin-left:auto;margin-right:auto;max-width:1000px;margin-top: 77px;padding: 0 24px;}
.about-contain p{font-family:"FlySans-Light", Arial, sans-serif;font-size:20px;line-height: 30px;}
.about-contain h2{color:#78be20;font-family:"FlySans-", Arial, sans-serif;font-style:normal;font-weight:normal;line-height:1.4;margin-bottom:8px;margin-top:4px;text-rendering:optimizeLegibility;font-size:45px;}
.to-top{margin-top:20px;border:2px solid #808285;color:#808285;font-family: "FlySans-", Arial, sans-serif;text-transform:none;line-height: normal;: 0 0 1.25rem;position: relative;text-align: center;text-decoration: none;display: inline-block;padding: 16px 32px 17px 32px;font-size: 16px;}
.to-top:hover{border-color: #808285;color: #fff;background-color: #808285;}
.round{border-radius:1000px;}
.career-section {margin-bottom: 77px;}
.career-section  p a{color:#78be20;}
.career-section p a:hover{    color: #67a31c;text-decoration:none}


.about-contain .col{padding-right:0px;padding-left:0px}
.product-promotion h2{text-align: center;margin-bottom: 45px;font-size: 38px;color: #78be20;font-family: "FlySans-Medium", Arial, sans-serif;font-weight: 900;margin-left: 15px;}
/*Slick Slider */
/*.slick-slider{position: relative;display: block;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.product-slider{clear: both;float: none;margin-bottom: 60px;}*/
/* only min-width 1290px*/
