<?xml version="1.0"?>
<config>
    <modules>
        <Shipperhq_Pbint>
            <version>1.0.1</version>
        </Shipperhq_Pbint>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Shipperhq_Pbint after="Mage_Adminhtml">Shipperhq_Pbint_Adminhtml</Shipperhq_Pbint>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <shipperhq_pbint>
                <class>Shipperhq_Pbint_Block</class>
            </shipperhq_pbint>
        </blocks>
        <helpers>
            <shipperhq_pbint>
                <class>Shipperhq_Pbint_Helper</class>
            </shipperhq_pbint>
        </helpers>
        <models>
            <shipperhq_pbint>
                <class>Shipperhq_Pbint_Model</class>
                <resourceModel>shipperhq_pbint_mysql4</resourceModel>
            </shipperhq_pbint>
            <shipperhq_pbint_mysql4>
                <class>Shipperhq_Pbint_Model_Mysql4</class>
                <entities>
                    <variable>
                        <table>shqpbint_variable</table>
                    </variable>
                    <ordernumber>
                        <table>shqpbint_ordernumber</table>
                    </ordernumber>
                    <inboundparcel>
                        <table>shqpbint_inbound_parcel</table>
                    </inboundparcel>
                </entities>
            </shipperhq_pbint_mysql4>
        </models>
        <resources>
            <shqpbint_setup>
                <setup>
                    <module>Shipperhq_Pbint</module>
                    <class>Shipperhq_Pbint_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shqpbint_setup>
            <shipperhq_pbint_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shipperhq_pbint_write>
            <shipperhq_pbint_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shipperhq_pbint_read>
        </resources>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <Shipperhq_Pbint_Model_OrderView>
                        <type>model</type>
                        <class>shipperhq_pbint/observer</class>
                        <method>modifyOrderView</method>
                    </Shipperhq_Pbint_Model_OrderView>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_postdispatch_checkout_cart_estimateUpdatePost>
                <observers>
                    <Shipperhq_Pbint_Estimated_Shipping>
                        <type>model</type>
                        <class>shipperhq_pbint/observer</class>
                        <method>addDutiesOnEstimation</method>
                    </Shipperhq_Pbint_Estimated_Shipping>
                </observers>
            </controller_action_postdispatch_checkout_cart_estimateUpdatePost>
        </events>
        <sales>
            <quote>
                <totals>
                    <shq_pb_duty>
                        <class>Shipperhq_Pbint_Model_Quote_Duty</class>
                        <before>grand_total</before>
                        <after>tax</after>
                    </shq_pb_duty>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <shq_pb_duty>
                        <class>Shipperhq_Pbint_Model_Invoice_Duty</class>
                        <before>grand_total</before>
                        <after>tax</after>
                    </shq_pb_duty>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <shq_pb_duty>
                        <class>Shipperhq_Pbint_Model_Creditmemo_Duty</class>
                        <before>grand_total</before>
                        <after>tax</after>
                    </shq_pb_duty>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <shq_pb_duty translate="title">
                    <title>International Duty</title>
                    <source_field>shq_pb_duty</source_field>
                    <model>shipperhq_pbint/pdf_duty</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>300</sort_order>
                </shq_pb_duty>
            </totals>
        </pdf>
        <template>
            <email>
                <wsa_email_shipment_template translate="label" module="sales">
                    <label>ShipperHQ Pitney Bowes Custom Shipment Email</label>
                    <file>sales/shipperhq_pitney_shipment_new.html</file>
                    <type>html</type>
                </wsa_email_shipment_template>
            </email>
        </template>
        <fieldsets>
            <!-- copies data from quote address to order during the order placement -->
            <sales_convert_quote_address>
                <base_shq_pb_duty_amount>
                    <to_order>*</to_order>
                </base_shq_pb_duty_amount>
                <shq_pb_duty_amount>
                    <to_order>*</to_order>
                </shq_pb_duty_amount>
            </sales_convert_quote_address>
            <!-- copies data from order to invoice/shipment/creditmemo during their creation -->
            <sales_convert_order>
                <base_shq_pb_duty_amount>
                    <to_invoice>*</to_invoice>
                    <to_shipment>*</to_shipment>
                    <to_cm>*</to_cm>
                </base_shq_pb_duty_amount>
                <shq_pb_duty_amount>
                    <to_invoice>*</to_invoice>
                    <to_shipment>*</to_shipment>
                    <to_cm>*</to_cm>
                </shq_pb_duty_amount>
            </sales_convert_order>
        </fieldsets>
    </global>
    <default>
        <shipperhqpitney>
            <shqpbint>
                <catalog_encryption_enabled>0</catalog_encryption_enabled>
                <catalog_diff>1</catalog_diff>
                <catalog_full>1</catalog_full>
                <catalog_size>10000</catalog_size>
            </shqpbint>
        </shipperhqpitney>
    </default>

    <!-- Please modify this part for CRON JOB
       For more information on Magento Cron Job, please visit the following url:
       http://www.magentocommerce.com/wiki/1_-_installation_and_configuration/how_to_setup_a_cron_job#built-in_cron_jobs
    -->
    <crontab>
        <jobs>
            <shipperhq_pbint>
                <schedule>
                    <cron_expr>30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>shipperhq_pbint/catalog_cron::catalogSync</model>
                </run>
            </shipperhq_pbint>
            <pb_notifications>
                <schedule>
                    <cron_expr>20 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>shipperhq_pbint/catalog_cron::processStatusNotifications</model>
                </run>
            </pb_notifications>
        </jobs>
    </crontab>
    <frontend>
        <layout>
            <updates>
                <shipperhq_pbint module="Shipperhq_Pbint">
                    <file>shipperhq/pbint.xml</file>
                </shipperhq_pbint>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <shipperhq_pbint module="Shipperhq_Pbint">
                    <file>shipperhq/pbint.xml</file>
                </shipperhq_pbint>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shipperhqpitney>
                                            <title>ShipperHQ Pitney Bowes International</title>
                                        </shipperhqpitney>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Shipperhq_Pbint.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>
</config> 

