<?xml version="1.0"?>
<config>
    <modules>
        <MageNYC_AdminCustomization>
            <version>0.1.0</version>
            <depends>
                <Mage_Adminhtml/>
            </depends>
        </MageNYC_AdminCustomization>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <page_header>MageNYC_AdminCustomization_Block_Adminhtml_Page_Header</page_header>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <magenyc_admincustomization>
                <class>MageNYC_AdminCustomization_Helper</class>
            </magenyc_admincustomization>
        </helpers>
        <models>
            <adminhtml>
                <rewrite>
                    <system_config_backend_adminlogo>MageNYC_AdminCustomization_Model_Adminhtml_System_Config_Backend_Adminlogo</system_config_backend_adminlogo>
                </rewrite>
            </adminhtml>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <magenyc_admincustomization>
                    <file>magenyc/admincustomization.xml</file>
                </magenyc_admincustomization>
            </updates>
        </layout>
    </adminhtml>
</config>